---
//<!--?         [Crypto]
//<!--*         [IMPORT]
//<!--?         [NameSpace]
import N from "@n/N.astro";
//<!--*         [DATA]
let title = "Crypto Analysis, Charts, Data and Information - KBVE.com";
let description =
  "Collection of documentation, references and information related to Crypto. Amazing charts and abstract details will be coming soon.";

---

<N ns="theme" title={title} description={description}>
  <section class="py-6 sm:py-12">
    <div class="container p-6 mx-auto space-y-8">
      <div class="rounded-full space-y-2 text-center bg-offset p-4">
        <h2 class="text-3xl font-bold">Crypto Analysis</h2>
        <p class="font-serif text-sm dark:text-gray-400">
          Crypto charts, data, information, analysis and reports.
        </p>
      </div>

      <N ns="controller" template="oracle" element="asset/crypto" data="crypto" />
    </div>
  </section>
  <N ns="ads" template="midbanner" id="ezoic" />
</N>
