---
const tailwindcss = await Astro.glob('./*.md*');
import MDXJS from '@w/MDXJS.astro';
---

<MDXJS>
	<div id="uxui" class="gradient-text text-lg">
		UX / UI
	</div>
	<p>
		JavaScript, a dynamic programming language integral to web development, profoundly influences the UX (User Experience) and UI (User Interface) of digital platforms.
		While UX focuses on the overall feel and users' experience within a platform, and UI concentrates on the look and layout, JavaScript empowers these designs to come alive. 
		It animates UI elements, handles real-time data, and fosters interactive user engagements. 
		When integrated thoughtfully, JavaScript bridges the gap between static design and dynamic user experience, turning aesthetic visuals into interactive and responsive interfaces.
	</p>

</MDXJS>

{
	tailwindcss.map((note) => (
		<MDXJS transparent={false}>
			<div>
				<article class="">
					<h2>{note.frontmatter.title}</h2>
					<p>{note.frontmatter.description}</p>

					<note.Content />
				</article>
			</div>
		</MDXJS>
	))
}