---
//<!--?         [Theory]
//<!--*         [IMPORT]
//<!--?         [NameSpace]
    import N from "@n/N.astro";
//<!--*         [DATA]
let title = "KBVE Theory";
let description = "KBVE Theorycrafting - Collection of all our abstract viewpoiunts and hot takes! Great reads and reference points for all shapes and sizes.";
---
<N ns="theme" title={title} description={description}>
    <!-- [Theory] -->
    <section class="py-6 sm:py-12">
        <div class="container p-6 mx-auto space-y-8">
          <div class="rounded-full space-y-2 text-center bg-offset p-4">
            <h2 class="text-3xl font-bold">KBVE Theory Collection</h2>
            <p class="font-serif text-sm dark:text-gray-400">
              KBVE Members love to theorycraft, so here are some of our best works.
            </p>
          </div>
    
          <N
            ns="controller"
            template="oracle"
            element="theory"
            data="theory"
          />
        </div>
      </section>
      <N ns="ads" template="midbanner" id="ezoic" />
</N>