---
//?             [KBVE]              ==>             [Socials]
import N from "@n/N.astro"; //?             [NAMESPACE]
---

<a href="https://kbve.com/github/" target="_blank" rel="prefetch">
  <N ns="badge" template="github" />
</a>
<a href="https://kbve.com/twitter/" target="_blank" rel="prefetch">
  <N ns="badge" template="twitter" />
</a>
<a href="https://kbve.com/discord/" target="_blank" rel="prefetch">
  <N ns="badge" template="discord" />
</a>
<a href="https://kbve.com/youtube/" target="_blank" rel="prefetch">
  <N ns="badge" template="youtube" />
</a>
<a href="https://kbve.com/twitch/" target="_blank" rel="prefetch">
  <N ns="badge" template="twitch" />
</a>
<!-- Instagram
<a href="https://kbve.com/instagram/" target="_blank" rel="prefetch">
    <N ns="badge" template="instagram" />
</a>
-->
<!-- Reddit
<a href="https://kbve.com/reddit/" target="_blank" rel="prefetch">
    <N ns="badge" template="reddit" />
</a>
-->
<!-- TikTok
<a href="https://kbve.com/tiktok/" target="_blank" rel="prefetch">
    <N ns="badge" template="tiktok" />
</a>
-->
<!-- IRC
<a href="https://kbve.com/tiktok/" target="_blank" rel="prefetch">
    <N ns="badge" template="tiktok" />
</a>
-->
