---
//?             [KBVE]              =>              [Socials]
//?             [IMPORTS]           ~               -
//?             [NAMESPACE]         ->              [N]
import N from "@n/N.astro";
---
<a href="https://kbve.com/github/" target="_blank" rel="prefetch"><N ns="badge" template="github" /></a>
<a href="https://kbve.com/twitter/" target="_blank" rel="prefetch"><N ns="badge" template="twitter" /></a>
<a href="https://kbve.com/discord/" target="_blank" rel="prefetch"><N ns="badge" template="discord" /></a>
<a href="https://kbve.com/youtube/" target="_blank" rel="prefetch"><N ns="badge" template="youtube" /></a>