---
import GithubIFrameComponent from "./index";
const { src, description } = Astro.props;
---

<div class={!description ? "pb2" : "pb1"}>
  <GithubIFrameComponent src={src} />
  <div class="tar">
    <span class="f-d3 gradient-text">{description}</span>
  </div>
</div>
