---
////////        [UTILITY] Migration of this component will be important because it can break the footer, which can then break the Namespace.
///             [TOOLS]:Template - <render> *WARNING*
    ///         [WARNING]: The Tools template will need a couple different render engines, this is where we will test case multi-javascript frameworks
    ///         [WARNING]: Sub Module Integration? : We could migrate certain tools out into their own repo and then using submodules to manage them.
///             [IMPORTS]
import N from "@n/N.astro";                                 ///     [Astro]:{namespace}
import Oracle from "@w/Oracle.astro";
import KBVE from "@l/KBVE.astro";
import Menu from "@l/Menu.astro";
///             [DATA]
const { content }   = Astro.props;
let title = "KBVE Tools";
let description = "KBVE Tools - All software and services being built / maintained at KBVE!";

import { getCollection } from "astro:content";
const toolEntries = await getCollection("tools");
---
<KBVE title={title} description={description}>
	<Menu>
		<section class="py-6 sm:py-12">
			<div class="container p-6 mx-auto space-y-8">
				<div class="rounded-full space-y-2 text-center bg-offset p-4">
					<h2 class="text-3xl font-bold">KBVE Tools</h2>
					<p class="font-serif text-sm ">
						Collection of Tools for Developers, Artists and more!
					</p>
				</div>
				<Oracle element="tools" data="tools" />
			</div>
		</section>
	</Menu>
</KBVE>