---
//*             [EZOIC]
//?             Ezoic Under Title Placeholder
//?             Reference ID:117
//?             ^POST: We can also name them something else, yet their migth be the best move for the time being.
//?             ^POST: On the Chrome-Unity browser, the resolution might throw some CSS errors
//!             [DATA]
const { content, data, id } = Astro.props;
---
<section class="p-4">
    <!-- 
        *   EZOIC:UnderTitle
        TODO    - Clear the post notes that reference this issue, but honestly we can just delay it for the future. I hate UX/UI for advertising, it feels painful.
        ?   We can try different types of CSS for the under title.
        !   There are issues with cross browser, we could address them at the end.
     -->
    <div class="container mx-auto">
        <!-- Ezoic - under_page_title - under_page_title -->
        <div id="ezoic-pub-ad-placeholder-117"> </div>
        <!-- End Ezoic - under_page_title - under_page_title -->
    </div>
</section>