---
//?             [EZOIC]:Card
//?             Card style placeholder
//?             Internal reference is id:115
//!             [DATA]
const { data } = Astro.props;
---

<section class="p-1">
  <div class="container mx-auto">
    <!-- Ezoic - mid_content_card - mid_content -->
    <div id="ezoic-pub-ad-placeholder-115"></div>
    <!-- End Ezoic - mid_content_card - mid_content -->
  </div>
</section>
