---
//*             [EZOIC]
//?             Content: Ezoic's AdSpace for longest content, {%length > 5 lines}, ID:119
//?             [DATA]
const { content, data, id, template } = Astro.props;
---

<section class="p-1">
    <div>
        <!-- Ezoic - longest_content - longest_content -->
        <div id="ezoic-pub-ad-placeholder-119"> </div>
        <!-- End Ezoic - longest_content - longest_content -->
    </div>
</section>