---
//*             [EZOIC]
//?             In Content placeholder for Reference: ID 118
//*             ^POST: We went with the default / generic settings for the time being, lets see how their "AI" system works.
//?             ^POST: As I am building out the Ezoic Elements, we could wrap a bunch of them into a group? 
//?             ^POST: Passing extra props that we might not need, should we remove them.
const { content, data, id, template } = Astro.props;
---

<section class="p-1">
    <div>
        <!-- Ezoic - longer_content_in_content_3 - longer_content -->
        <div id="ezoic-pub-ad-placeholder-118"> </div>
        <!-- End Ezoic - longer_content_in_content_3 - longer_content -->
    </div>
</section>