---
//*             [EZOIC]
//?             Content Box Size 250x250 ; ID:120
//?             ^POST: This box size will be a max of 250x250.
//?             [DATA]
const { content, data, id, className} = Astro.props;
---
<section class="p-1">
<!-- Ezoic - incontent_5_box250 - incontent_5 -->
<div id="ezoic-pub-ad-placeholder-120"> </div>
<!-- End Ezoic - incontent_5_box250 - incontent_5 -->
</section>