---
//?             [EZOIC]:Footer
//?             Placeholder 113 - Default/Generic design for the KBVE Advertisements.
//!				[DATA]
const {
	data,
} = Astro.props;
---
<div class="p-4">
	<div class="container grid grid-cols-12 mx-auto">
		<div class="rounded-3xl bg-offset flex flex-col p-6 col-span-full row-span-full lg:col-span-12 lg:p-10">
			<div class="flex justify-center items-center p-1 space-x-2">
                <!-- Ezoic - bottom_of_page - bottom_of_page -->
                <div id="ezoic-pub-ad-placeholder-113"> </div>
                <!-- End Ezoic - bottom_of_page - bottom_of_page -->
			</div>

			<div class="flex items-center justify-between pt-2">
				<div class="flex space-x-2">

				</div>
				<span class="text-xs">Advertisement</span>
			</div>
		</div>
	</div>
</div>