---
//?             [EZOIC]:Card
//?             Card style placeholder
//?             Internal reference is id:XXX
//!             [DATA]
const {
    data,
} = Astro.props;
---
<section class="p-1">
    <div class="container mx-auto">
    </div>
</section>