---
//?             [EZOIC]:101
//?             Placeholder 101 - Default/Generic design for the KBVE Advertisements.
//!				[DATA]
const {
	data,
} = Astro.props;
---
<div class="p-4">
	<div class="container grid grid-cols-12 mx-auto">
		<div class="rounded-3xl bg-offset flex flex-col p-6 col-span-full row-span-full lg:col-span-12 lg:p-10">
			<div class="flex justify-center items-center p-1 space-x-2">
				<!-- Ezoic - top_of_page_1 - top_of_page -->
				<div id="ezoic-pub-ad-placeholder-112"> </div>
				<!-- End Ezoic - top_of_page_1 - top_of_page -->
			</div>

			<div class="flex items-center justify-between pt-2">
				<div class="flex space-x-2">
					
				</div>
				<span class="text-xs">Advertisement</span>
			</div>
		</div>
	</div>
</div>