---
//?             [EZOIC]:FlexBanner
//              Flex Banner Placeholder for Ezoic Ad Network
//?             Internal reference is id:116
//!             [DATA]
const { content, data, id } = Astro.props;
---

<section class="p-1">
  <div class="container mx-auto">
    <!-- Ezoic - long_content_flex_banner - long_content -->
    <div id="ezoic-pub-ad-placeholder-116"> </div>
    <!-- End Ezoic - long_content_flex_banner - long_content -->
  </div>
</section>
