---
import Core from "@l/theme/core.astro";			                            ///	[IMPORT]        ->  [CORE]
import SWUP from "@l/theme/swup.astro";			                            ///	[SWUP]          ->  Currently facing {hydration} issues #102

import N from "@n/N.astro";                                                 /// [NAMESPACE]

const data = {                                                              /// {data}
	title: "Rogue Jester Official Manga", description: "The Official Manga for RJ! From KBVE"}	
const { content = data } = Astro.props;

import Banner from "@c/Element/Banner/Banner.astro";                        /// [Banner]    ->  [Display Banner]
---
<Core content={content}>
    <SWUP>
        <div class="px-8 py-6 space-y-8">
        </div>
        <Banner bannerConcept="manga" />

        <div class="space-y-12">
        
        <section>
            <div class="container mx-auto w-full p-6 space-y-6 sm:space-y-12 bg-black/50">
                <a rel="noopener noreferrer" href="#" class="block max-w-sm gap-3 mx-auto sm:max-w-full group hover:no-underline focus:no-underline lg:grid lg:grid-cols-12 dark:bg-gray-900">
                    <img src="https://source.unsplash.com/random/480x360" alt="Website Design System" class="object-cover w-full h-64 rounded sm:h-96 lg:col-span-7 dark:bg-gray-500">
                    <div class="p-6 space-y-2 lg:col-span-5">
                        <h3 class="gradient-text text-2xl font-semibold sm:text-4xl group-hover:underline group-focus:underline">RogueJester Manga Series</h3>
                        <span class="text-xs dark:text-gray-400">Fun, Interesting, Epic</span>
                        <p>RogueJester takes place in the year of 2101 and our manga series follows the great space wars.</p>
                    </div>
                </a>
                <div class="grid justify-center grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
                    <a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900">
                        <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://source.unsplash.com/random/480x360?1">
                        <div class="p-6 space-y-2">
                            <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">In usu laoreet repudiare legendos</h3>
                            <span class="text-xs dark:text-gray-400">January 21, 2021</span>
                            <p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent delicata indoctum pri.</p>
                        </div>
                    </a>
                    <a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900">
                        <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://source.unsplash.com/random/480x360?2">
                        <div class="p-6 space-y-2">
                            <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">In usu laoreet repudiare legendos</h3>
                            <span class="text-xs dark:text-gray-400">January 22, 2021</span>
                            <p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent delicata indoctum pri.</p>
                        </div>
                    </a>
                    <a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900">
                        <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://source.unsplash.com/random/480x360?3">
                        <div class="p-6 space-y-2">
                            <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">In usu laoreet repudiare legendos</h3>
                            <span class="text-xs dark:text-gray-400">January 23, 2021</span>
                            <p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent delicata indoctum pri.</p>
                        </div>
                    </a>
                    <a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900 hidden sm:block">
                        <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://source.unsplash.com/random/480x360?4">
                        <div class="p-6 space-y-2">
                            <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">In usu laoreet repudiare legendos</h3>
                            <span class="text-xs dark:text-gray-400">January 24, 2021</span>
                            <p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent delicata indoctum pri.</p>
                        </div>
                    </a>
                    <a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900 hidden sm:block">
                        <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://source.unsplash.com/random/480x360?5">
                        <div class="p-6 space-y-2">
                            <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">In usu laoreet repudiare legendos</h3>
                            <span class="text-xs dark:text-gray-400">January 25, 2021</span>
                            <p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent delicata indoctum pri.</p>
                        </div>
                    </a>
                    <a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900 hidden sm:block">
                        <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://source.unsplash.com/random/480x360?6">
                        <div class="p-6 space-y-2">
                            <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">In usu laoreet repudiare legendos</h3>
                            <span class="text-xs dark:text-gray-400">January 26, 2021</span>
                            <p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent delicata indoctum pri.</p>
                        </div>
                    </a>
                </div>
                <div class="flex justify-center">
                    <button class="px-6 py-3 text-sm rounded-md hover:underline dark:bg-gray-900 dark:text-gray-400">Load more posts...</button>
                </div>
            </div>
        </section>

        <!-- Dynamic Pathing for the Manga -->
        <section>
            <div class="container px-6 py-12 mx-auto">
                <div class="grid items-center gap-4 xl:grid-cols-5">
                    <div class="max-w-2xl mx-auto my-8 space-y-4 text-center xl:col-span-2 xl:text-left">
                        <h2 class="text-4xl font-bold">Dynamic Story Pathing</h2>
                        <p class="dark:text-gray-400">As you read our manga, you can choose special pathing and build your own story arc!</p>
                    </div>
                    <div class="p-6 xl:col-span-3">
                        <div class="grid gap-4 md:grid-cols-2">
                            <div class="grid content-center gap-4">
                                <div class="p-6 rounded shadow-md bg-offset">
                                    <p>An audire commodo habemus cum. Ne sed corrumpit repudiandae. Tota aliquip democritum pro in, nec democritum intellegam ne. Propriae volutpat dissentiet ea sit, nec at lorem inani tritani, an ius populo perfecto vituperatoribus. Eu cum case modus salutandi, ut eum vocent sensibus reprehendunt.</p>
                                    <div class="flex items-center mt-4 space-x-4">
                                        <img src="https://source.unsplash.com/51x51/?portrait" alt="" class="w-12 h-12 bg-center bg-cover rounded-full dark:bg-gray-500">
                                        <div>
                                            <p class="text-lg font-semibold">Leroy Jenkins</p>
                                            <p class="text-sm dark:text-gray-400">CTO of Company Co.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-6 rounded shadow-md bg-offset">
                                    <p>Sit wisi sapientem ut, pri civibus temporibus voluptatibus et, ius cu hinc fabulas. Nam meliore minimum et, regione convenire cum id. Ex pro eros mucius consectetuer, pro magna nulla nonumy ne, eam putent iudicabit consulatu cu.</p>
                                    <div class="flex items-center mt-4 space-x-4">
                                        <img src="https://source.unsplash.com/52x52/?portrait" alt="" class="w-12 h-12 bg-center bg-cover rounded-full dark:bg-gray-500">
                                        <div>
                                            <p class="text-lg font-semibold">Leroy Jenkins</p>
                                            <p class="text-sm dark:text-gray-400">CTO of Company Co.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid content-center gap-4">
                                <div class="p-6 rounded shadow-md dark:bg-gray-900">
                                    <p>Putant omnium elaboraret per ut. Id dicta tritani nominavi quo, mea id justo errem elaboraret. Agam mollis scripserit ea his, ut nec postea verear persecuti. Ea noster senserit eam, ferri omittantur ei nec. Id mel solet libris efficiantur, commune explicari et eos. Case movet ad est, sed tota vocent appetere ea.</p>
                                    <div class="flex items-center mt-4 space-x-4">
                                        <img src="https://source.unsplash.com/53x53/?portrait" alt="" class="w-12 h-12 bg-center bg-cover rounded-full dark:bg-gray-500">
                                        <div>
                                            <p class="text-lg font-semibold">Leroy Jenkins</p>
                                            <p class="text-sm dark:text-gray-400">CTO of Company Co.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-6 rounded shadow-md dark:bg-gray-900">
                                    <p>Te omnes virtute volutpat sed. Ei esse eros interesset vel, ei populo denique ocurreret vix, eu cum pertinax mandamus vituperatoribus. Solum nihil luptatum per ex, ei amet viderer eos. Ea illum labitur mnesarchum pro. Eius meis salutandi ei nam, alterum expetenda et nec. Expetenda intellegat at eum, per mazim sanctus honestatis ad. Ei noluisse invenire vix. Te ancillae patrioque qui, probo bonorum vivendum ex vim.</p>
                                    <div class="flex items-center mt-4 space-x-4">
                                        <img src="https://source.unsplash.com/54x54/?portrait" alt="" class="w-12 h-12 bg-center bg-cover rounded-full dark:bg-gray-500">
                                        <div>
                                            <p class="text-lg font-semibold">Leroy Jenkins</p>
                                            <p class="text-sm dark:text-gray-400">CTO of Company Co.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="grid max-w-screen-xl grid-cols-1 gap-8 px-8 py-16 mx-auto rounded-lg md:grid-cols-2 md:px-12 lg:px-16 xl:px-32">
            <div class="flex flex-col justify-between">
                <div class="space-y-2">
                    <h2 class="text-4xl font-bold leading-tight lg:text-5xl">Let's talk!</h2>
                    <div class="dark:text-gray-400">Vivamus in nisl metus? Phasellus.</div>
                </div>
                <img src="assets/svg/doodle.svg" alt="Contact our customer support" class="p-6 h-52 md:h-64">
            </div>
            <form novalidate="" class="space-y-6 ng-untouched ng-pristine ng-valid">
                <div>
                    <label for="name" class="text-sm">Full name</label>
                    <input id="name" type="text" placeholder="" class="w-full p-3 rounded dark:bg-gray-800">
                </div>
                <div>
                    <label for="email" class="text-sm">Email</label>
                    <input id="email" type="email" class="w-full p-3 rounded dark:bg-gray-800">
                </div>
                <div>
                    <label for="message" class="text-sm">Message</label>
                    <textarea id="message" rows="3" class="w-full p-3 rounded dark:bg-gray-800"></textarea>
                </div>
                <button type="submit" class="w-full p-3 text-sm font-bold tracking-wide uppercase rounded dark:bg-orange-400 dark:text-gray-900">Send Message</button>
            </form>
        </div>
        </div>

    </SWUP>
</Core>