---
import MainHead from '@c/MainHead.astro';
import Footer from '@c/Footer';
import Nav from '@c/Nav';
import PortfolioPreview from '@c/PortfolioPreview';

const apps = (await Astro.glob('./**/**/*.mdx'))
	.filter(({ frontmatter }) => !!frontmatter.publishDate)
	.sort(
		(a, b) =>
			new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
---

<html lang="en">
	<head>
		<MainHead
			title="Application Database | KBVE"
			description="Learn about various applications through guides, cheat sheets and tutorials! The database is always updating and changing, feel free to help out."
		/>
		<style lang="scss">
			.grid {
				display: grid;
				grid-gap: 3rem;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1 class="title mt4 mb4">All Applications</h1>
			<div class="grid">
				{apps.map((project) => <PortfolioPreview project={project} />)}
			</div>
		</div>
		<Footer />
	</body>
</html>
