---
/// [IMPORT]
/// [WIP]
import ReactRegister from "./ReactRegister";
---
<div class="2xl:container 2xl:mx-auto 2xl:px-0 py-3 px-10" id="register">
    <ReactRegister client:only="react"  /> 
</div>
