---
const { id } = Astro.props;

import ApplicationsFunction from "@c/Scene/Applications/ApplicationsController/ApplicationsFunction.astro";

---
<section class="py-6 sm:py-12 ">
    <div class="container p-6 mx-auto space-y-8">
      <div class="rounded-full space-y-2 text-center bg-offset p-4">
        <h2 class="text-3xl font-bold">Application Toolbelt</h2>
        <p class="font-serif text-sm dark:text-gray-400">Collectiuon of all the applications within the staff's toolbelt. </p>
      </div>
      <div class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2 lg:grid-cols-4">
        <!-- Return Article from Controller ? -->
        <ApplicationsFunction />
      </div>
    </div>
  </section>