---
import N from "@n/N.astro";                 ///	[NameSpace]
import KBVE from "@l/KBVE.astro";
import Menu from "@l/Menu.astro";
import Oracle from "@w/Oracle.astro";
let title = "KBVE.com - Projects, DevLogs, Applications and Data";
let description = "Our collection of public and private projects, including repos, data, information and extensions. The project page is an on-going collection that includes references to external projects, outside of the organization.";

---
<KBVE title={title} description={description} >
  <Menu>
    <section class="py-6 sm:py-12">
        <div class="container p-6 mx-auto space-y-8">
          <div class="rounded-full space-y-2 text-center bg-offset p-4">
            <h2 class="text-3xl font-bold">Project Collection</h2>
            <p class="font-serif text-sm dark:text-gray-400">
              Collection of all the projects that we work on at KBVE.
            </p>
          </div>
    
          <Oracle element="project" data="project" />
        </div>
      </section>
      <N ns="ads" template="midbanner" id="ezoic" />
    </Menu>
  </KBVE>
  