---
/// [WIP]
/// Main Legal Module
import Core from "@l/theme/core.astro";			///	[IMPORT]  ->  [CORE]
import SWUP from "@l/theme/swup.astro";			///	[SWUP]    ->  Currently facing {hydration} issues #102
/// {data}
const data = {
	title: "KBVE.com - Legal Information", description: "KBVE Legal Infromation, ToS, Privacy and more"}	
const { content = data } = Astro.props;		
const apps = await fetch('https://kbve.com/application/application.json').then((response) =>  response.json());

---
<Core content={content}>
  <SWUP>
      <div class="px-8 py-24 space-y-8">
      </div>
  </SWUP>
</Core>

