---
//*         [How]
//?         How.astro - Just a generic component for <How?> section, which we could remove down the line
---

<section>
  <span
    class="block mb-2 text-xs font-medium tracking-widest uppercase lg:text-center text-violet-400"
  >
    Welcome to KBVE</span
  >
  <h2 class="text-5xl font-bold lg:text-center text-gray-50">
    The Wall Garden of the KBVE Dev Group.
  </h2>
  <div class="grid gap-6 my-16 lg:grid-cols-3">
    <div class="flex flex-col p-8 space-y-4 rounded-md bg-gray-500">
      <div
        class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-violet-400 text-gray-900"
      >
        1
      </div>
      <p class="text-2xl font-semibold">
        <b>◈ Second Brain.</b>
        <br />
        Access a collection of evergrowing notes, documents and information!
      </p>
    </div>
    <div class="flex flex-col p-8 space-y-4 rounded-md bg-gray-600">
      <div
        class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-violet-400 text-gray-900"
      >
        2
      </div>
      <p class="text-2xl font-semibold">
        <b>◈ DevOps.</b>
        <br /> We can help you become one of the best DevOps within the industry!
      </p>
    </div>
    <div class="flex flex-col p-8 space-y-4 rounded-md bg-gray-700">
      <div
        class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-violet-400 text-gray-900"
      >
        3
      </div>
      <p class="text-2xl font-semibold">
        <b>◈ Memes.</b>
        <br /> Come play games with us or build your own with our team!
      </p>
    </div>
  </div>
</section>
