---
import { Icon } from "astro-icon";
import ContentSection from "@c/Element/Section/Content/content-section.astro";
import Projects from "@c/Element/Screen/Blog/BlogPost.astro";
import BlogPost from "@c/Scene/Projects/Projects.astro";
---

<!--  title="KiloByte Virtual Enterprise"  -->
<ContentSection title="KiloByte Virtual Enterprise " id="intro">
  <!-- <Icon slot="eyebrow" name="mdi:linux" class="h-32 text-primary" /> -->
  <!-- <Fragment slot="lead">
    KBVE is a collection of users that research
    <span class="text-primary">modern</span> applications.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience. ◈
  </Fragment>
   -->
  <div class="grid grid-cols-2 gap-2 sm:grid-cols-6">
    
    <a
      href="/register"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current rounded-lg"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Register</span>
    </a>
    <a
      href="/application"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current rounded-lg"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Application</span>
    </a>
    <a
      href="/asset"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current rounded-lg"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Assets</span>
    </a>
    <a
      href="/news"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current rounded-lg"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>News</span>
    </a>
    <a
      href="/blog"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current rounded-lg"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Blog</span>
    </a>
    <a
    href="/tools"
    class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current rounded-lg"
    >
      <Icon pack="mdi" name="alarm-panel" class="h-8" />
      <span>Tools!</span>
    </a>
  </div>
</ContentSection>
