---
import ApplicationCarousel from "./ApplicationCarousel";

const assets = await fetch('https://kbve.com/application/application.json').then((response) =>
  response.json()
);
---

<div class="2xl:container 2xl:mx-auto 2xl:px-0 py-3 px-10">
  <ApplicationCarousel client:only="react"  />
</div>

