---
// [CV]-> Wrapper
// [IMPORT]
import Mender from "@lib/React/mender";

// [DATA]
const {} = Astro.props;
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			is:inline
			src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"
		></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
		/>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<Mender client:only="react" />
	</body>
</html>
