---

---
<div class="max-w-screen-xl p-5 mx-auto dark:bg-gray-800 dark:text-gray-100">
    <div class="grid grid-cols-1 gap-5 lg:grid-cols-4 sm:grid-cols-2">
        <div class="relative flex items-end justify-start w-full text-left bg-center bg-cover h-96 dark:bg-gray-500" style="background-image: url(&quot;https://source.unsplash.com/random/240x320&quot;);">
            <div class="absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b dark:via-transparent dark:from-gray-900 dark:to-gray-900"></div>
            <div class="absolute top-0 left-0 right-0 flex items-center justify-between mx-5 mt-3">
                <a rel="noopener noreferrer" href="#" class="px-3 py-2 text-xs font-semibold tracking-wider uppercase dark:text-gray-100 bgundefined">Politics</a>
                <div class="flex flex-col justify-start text-center dark:text-gray-100">
                    <span class="text-3xl font-semibold leading-none tracking-wide">01</span>
                    <span class="leading-none uppercase">Card</span>
                </div>
            </div>
            <h2 class="z-10 p-5">
                <a rel="noopener noreferrer" href="#" class="font-medium text-md hover:underline dark:text-gray-100"> Autem sunt tempora mollitia magnam non voluptates</a>
            </h2>
        </div>
        <div class="relative flex items-end justify-start w-full text-left bg-center bg-cover h-96 dark:bg-gray-500" style="background-image: url(&quot;https://source.unsplash.com/random/241x320&quot;);">
            <div class="absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b dark:via-transparent dark:from-gray-900 dark:to-gray-900"></div>
            <div class="absolute top-0 left-0 right-0 flex items-center justify-between mx-5 mt-3">
                <a rel="noopener noreferrer" href="#" class="px-3 py-2 text-xs font-semibold tracking-wider uppercase dark:text-gray-100 bgundefined">Health</a>
                <div class="flex flex-col justify-start text-center dark:text-gray-100">
                    <span class="text-3xl font-semibold leading-none tracking-wide">02</span>
                    <span class="leading-none uppercase">Card</span>
                </div>
            </div>
            <h2 class="z-10 p-5">
                <a rel="noopener noreferrer" href="#" class="font-medium text-md hover:underline dark:text-gray-100">Inventore reiciendis aliquam excepturi</a>
            </h2>
        </div>
        <div class="relative flex items-end justify-start w-full text-left bg-center bg-cover h-96 dark:bg-gray-500" style="background-image: url(&quot;https://source.unsplash.com/random/242x320&quot;);">
            <div class="absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b dark:via-transparent dark:from-gray-900 dark:to-gray-900"></div>
            <div class="absolute top-0 left-0 right-0 flex items-center justify-between mx-5 mt-3">
                <a rel="noopener noreferrer" href="#" class="px-3 py-2 text-xs font-semibold tracking-wider uppercase dark:text-gray-100 bgundefined">Science</a>
                <div class="flex flex-col justify-start text-center dark:text-gray-100">
                    <span class="text-3xl font-semibold leading-none tracking-wide">03</span>
                    <span class="leading-none uppercase">Card</span>
                </div>
            </div>
            <h2 class="z-10 p-5">
                <a rel="noopener noreferrer" href="#" class="font-medium text-md hover:underline dark:text-gray-100">Officiis mollitia dignissimos commodi optio vero animi</a>
            </h2>
        </div>
        <div class="relative flex items-end justify-start w-full text-left bg-center bg-cover h-96 dark:bg-gray-500" style="background-image: url(&quot;https://source.unsplash.com/random/243x320&quot;);">
            <div class="absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b dark:via-transparent dark:from-gray-900 dark:to-gray-900"></div>
            <div class="absolute top-0 left-0 right-0 flex items-center justify-between mx-5 mt-3">
                <a rel="noopener noreferrer" href="#" class="px-3 py-2 text-xs font-semibold tracking-wider uppercase dark:text-gray-100 bgundefined">Sports</a>
                <div class="flex flex-col justify-start text-center dark:text-gray-100">
                    <span class="text-3xl font-semibold leading-none tracking-wide">04</span>
                    <span class="leading-none uppercase">Card</span>
                </div>
            </div>
            <h2 class="z-10 p-5">
                <a rel="noopener noreferrer" href="#" class="font-medium text-md hover:underline dark:text-gray-100">Doloribus sit illo necessitatibus architecto exercitationem enim</a>
            </h2>
        </div>
    </div>
</div>