---
import Core from "@l/theme/core.astro";			                                                ///	[IMPORT]        ->  [CORE]

import ReactUnity from "@c/Element/React/ReactUnity/FlexWindow/FlexWindow.astro";               /// {ReactUnity}    ->  Component for WVN2022


const data = {                                                                                  /// {data}
	title: "KBVE.com - Winter Visual Novel 2022", description: "KBVE GameJam for Winter Visual Novel 2022!"}	
const { content = data } = Astro.props;

---
<Core content={content}>
    <div class="flex gap-2 flex-nowrap">
        <div class="w-4/5">
            <ReactUnity id="wvn2022" buttonClass="space-y-4 relative gradient-text border border-indigo-500 hover:scale-125 px-8 py-4 overflow-hidden font-semibold rounded dark:bg-gray-100 dark:text-gray-900" />
        </div>
        <div class="w-1/5">
        </div>
    </div>
</Core>
  
  