---
import Github from './index';
const {src} = Astro.props;
---

<div>
    <blockquote class="bg-blue-50 p-4">
        <span class="text-4xl text-blue-600 mb-2">Github : {src}</span>
    </blockquote>
    <Github src={src} />
</div>