---
---
<div class="p-6 py-12 bg-indigo-500 dark:text-gray-900">
    <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row items-center justify-between">
            <h2 class="text-center text-6xl tracking-tighter font-bold">Calling All
                <br class="sm:hidden"><span class="gradient-text">Artists</span>
            </h2>
            <div class="space-x-2 text-center py-2 lg:py-0">
                <span>Come join us! We are a blast from the past!:</span>
                <span class="font-bold text-lg">NANI</span>
            </div>
            <a href="https://kbve.com/discord/" rel="noreferrer noopener" class="px-5 mt-4 lg:mt-0 py-3 rounded-md border block bg-offset">Donde De Discord</a>
        </div>
    </div>
</div>
