---

---
<div class="p-6 py-12 bg-violet-400 dark:text-gray-900">
    <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row items-center justify-between">
            <h2 class="text-center text-6xl tracking-tighter font-bold">Staff
                <br class="sm:hidden"><span class="italic">Memebear</span>
            </h2>
            <div class="space-x-2 text-center py-2 lg:py-0">
                <span>This NPC is a Staffer, McStaffy</span>
                <span class="font-bold text-lg">NANI</span>
            </div>
            <a href="#" rel="noreferrer noopener" class="px-5 mt-4 lg:mt-0 py-3 rounded-md border block bg-offset">Eat It</a>
        </div>
    </div>
</div>
