---

---

 <!-- Javascript code -->
 <script is:inline>
    // Do something when the button is clicked
    function buttonHandler() {
        alert('Hi there!');
    }   
</script>
<button onclick="buttonHandler()" title="Contact Sale"
class="fixed z-90 bottom-20 right-8 bg-blue-600 w-20 h-20 rounded-full drop-shadow-lg flex justify-center items-center text-white text-4xl hover:bg-blue-700 hover:drop-shadow-2xl hover:animate-spin duration-400">
&#9881;</button>
