---

---

 <!-- Javascript code -->
 <script is:inline>
    // Do something when the button is clicked
    function buttonHandler() {
        alert('Hi there!');
    }   
</script>
<button onclick="buttonHandler()" title="Contact Sale"
class="fixed z-20 top-56 left-8 bg-red-400 w-20 h-20 rounded-full drop-shadow-lg flex justify-center items-center text-white text-4xl hover:bg-red-700 hover:drop-shadow-2xl hover:animate-pulse ease-in-out duration-400">
&#10026;</button>
