---
const {
	data,
	tail = 'flex flex-col divide-y sm:px-8 lg:px-12 xl:px-32 divide-gray-700 p-1',
	title,
} = Astro.props;
---

<div class={tail}>
	<details class="border-2 p-2">
		<summary
			class="py-2 outline-none cursor-pointer focus:underline text-primary">
			{data || title}
		</summary>
		<div class="px-4 pb-4">
			<p><slot /></p>
		</div>
	</details>
</div>
