---
const { transparent = false } = Astro.props;

let className = 'shadow-2xl p-4 bg-offset rounded-3xl';
if(transparent)
{
	className = 'shadow-2xl p-4 bg-[#ffffff26] rounded-3xl hover:bg-offset ease-in-out';
}
---
<div class="relative w-full p-0.5">
	<div class={className}>
		<div
			class="prose max-w-none prose-li:text-secondary prose-td:text-secondary prose-tr:text-primary prose-tr:border-b-indigo-500/10 prose-p:text-secondary prose-a:text-primary prose-code:text-primary prose-code:before:content-none prose-code:after:content-none prose-headings:text-primary prose-ul:text-secondary">
			<slot />
		</div>
	</div>
</div>
