---
---
<div class="w-96 relative md:w-full p-4">
	<div class="shadow-2xl p-4 bg-offset rounded-3xl">
		<div
			class="prose max-w-none prose-li:text-secondary prose-td:text-secondary prose-tr:text-primary prose-tr:border-b-indigo-500/10 prose-p:text-secondary prose-a:text-primary prose-code:text-primary prose-code:before:content-none prose-code:after:content-none prose-headings:text-primary prose-ul:text-secondary">
			<slot />
		</div>
	</div>
</div>
