---
import { Icon } from "astro-icon";
---

<!-- cards row 2 -->
<div class="flex flex-wrap mt-6 -mx-3">
  <div class="w-full px-3 mb-6 lg:mb-0 lg:w-7/12 lg:flex-none">
    <div
      class="relative flex flex-col min-w-0 break-words bg-offset shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-4">
        <div class="flex flex-wrap -mx-3">
          <div class="max-w-full px-3 lg:w-1/2 lg:flex-none">
            <div class="flex flex-col h-full">
              <p class="pt-2 mb-1 font-semibold">Built by developers</p>
              <h5 class="font-bold">KBVE Projects</h5>
              <p class="mb-12">
                From an idea to a solution? We will help you build it all! Join
                our discord and get in touch with our team!
              </p>
              <a
                class="mt-auto mb-0 text-sm font-semibold leading-normal text-slate-500 whitespace-nowrap"
                href="https://kbve.com/discord/"
                target="_blank">
                Read More ?
              </a>
            </div>
          </div>
          <div
            class="max-w-full px-3 mt-12 ml-auto text-center lg:mt-0 lg:w-5/12 lg:flex-none">
            <div
              class="h-full bg-gradient-to-tl from-purple-700 to-pink-500 rounded-xl">
              <div class="relative flex items-center justify-center h-full">
                <img
                  class="relative z-20 w-full pt-6 animate-pulse"
                  src="./assets/img/spellbook.png"
                  alt="kbve circle logo"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 lg:w-5/12 lg:flex-none">
    <div
      class="border-black/12.5 shadow-soft-xl relative flex h-full min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-offset bg-clip-border p-4">
      <div
        class="relative h-full overflow-hidden bg-cover rounded-xl"
        style="background-image: url('./assets/img/curved-images/wave.jpg')">
        <span
          class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-gradient-to-tl from-gray-900 to-slate-800 opacity-80"
        ></span>
        <div class="relative z-10 flex flex-col flex-auto h-full p-4">
          <h5 class="pt-2 mb-6 font-bold text-white">Powered by Memes!</h5>
          <p class="text-white">
            Wealth creation is a positive-sum game, meaning that everyone can benefit from it. However, it is also a race, and those who are first to the finish line will win the most.
          </p>
          <a
            class="mt-auto mb-0 text-sm font-semibold leading-normal text-white group"
            href="javascript:;">
            Read More
            <i
              class="fas fa-arrow-right ease-bounce text-sm group-hover:translate-x-1.25 ml-1 leading-normal transition-all duration-200"
            ></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
