---
import Badge from "@w/Badge.astro";
---

<a
  href="/github/"
  target="_blank"
  rel="prefetch"
  aria-label="github"
>
  <Badge hex="333333" icon="mdiGithub" />
</a>
<a
  href="/twitter/"
  target="_blank"
  rel="prefetch"
  aria-label="twitter"
>
  <Badge hex="00acee" icon="mdiTwitter" />
</a>
<a
  href="/discord/"
  target="_blank"
  rel="prefetch"
  aria-label="discord"
>
  <Badge hex="88f2b6" icon="discord" />
</a>
<!-- <a
  href="/youtube/"
  target="_blank"
  rel="prefetch"
  aria-label="youtube"
>
  <Badge hex="FF0000" icon="ph:youtube-logo-fill" />
</a> -->
<!-- <a
  href="/twitch/"
  target="_blank"
  rel="prefetch"
  aria-label="twitch"
>
  <Badge hex="6441a5" icon="mdi:twitch" />
</a> -->
