---
const mdx = await Astro.glob('./*.md*');
import MDXJS from '@w/MDXJS.astro';
---
{
	mdx.map((note) => (
		<MDXJS transparent={false}>
			<div>
				<article class="">
					<h2>{note.frontmatter.title}</h2>
					<p>{note.frontmatter.description}</p>

					<note.Content />
				</article>
			</div>
		</MDXJS>
	))
}