---
///				[IMPORT]
import KBVE from '@l/KBVE.astro';
import Menu from '@l/Menu.astro';
///				[DATA]
let title = "Not Found";
let description = "Not Found";
///				[MIGRATE]
---

<KBVE title={title} description={description}>
  <Menu>
  <br />
  <br />
  <h1>Page Not Found</h1>
  <p>Not found</p>
  </Menu>
</KBVE>