---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
---

<html lang="en">
	<head>
		<MainHead title="About | KBVE.com" description="About KBVE.com" />
		<style lang="scss">
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About KBVE.com</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://images.unsplash.com/photo-1554290712-e640351074bd?auto=format&fit=crop&w=1400&h=350&q=75"
				/>
			</div>
			<div class="bio wrapper wrapper__readable mt8">
				<p>
					Damn I really have to write a bio again, this might be the 159th time within my lifetime. Here is some random text.
					Cream cheese say cheese stinking bishop. Brie fondue hard cheese bocconcini feta camembert
					de normandie babybel airedale. Red leicester swiss manchego mascarpone pepper jack
					airedale fromage frais ricotta. Cheese and biscuits cauliflower cheese boursin.
				</p>
				<p>
					Pepper jack cheesy feet cheese slices. Halloumi port-salut queso caerphilly roquefort
					cheese slices cheesy feet rubber cheese. Cheese slices smelly cheese pecorino macaroni
					cheese feta blue castello roquefort edam. Babybel pepper jack airedale cheddar fromage
					frais manchego.
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
