---
//*				[ABOUT]
//?				KBVE About Page, this is still a work in progress.
//*				[IMPORT]
import N from "@n/N.astro";				///	[NAMESPACE]:[N]
import Core from "@l/theme/core.astro"; ///	[IMPORT] -> [CORE]
import SWUP from "@l/theme/swup.astro"; ///	[SWUP]

let title = "About KBVE";
let description = "KBVE Programming, Dev and Gaming Community is a collection of programmers, gamers and memers that enjoy a nice glass of memes.";
---

<Core title="KBVE Login" description="Log into onto our platform!">
  <SWUP>
    <div class="px-8 py-24 space-y-8" id="root">
      <div class="bio wrapper wrapper__readable mt8">
        <p>
          KiloByte Virtual Enterprise is a consultancy firm that designs
          applications and modifications within the realm of machine learning,
          blockchain, autonomous operations and fintech.
        </p>
        <p>
          Software Integration Service Our team is a collection of full stack
          developers , engineers, security experts and various freelancers that
          aim to provide quantity services through contracts. Contact us for a
          custom quote! We accept all currency, [(]Fai like USD, EU) AGC, BTC,
          RS2GP), including W2/1099 contracts.
        </p>
        <p>
          We also provide a prepaid service, so you can control your cashflow
          and applications without constant transaction fees or constrants.
          Furthermore the credit system allows you to conduct micro-transactions
          for IoT and hybrid transfers amoung smart contracts.
        </p>
        <p>
          Notification C.I Enables multiple channels of communication within the
          environment and eco-system.
        </p>
        <p>
          Data Mining and mL Access a large collection of datasets for your
          machine learning projects.
        </p>
        <p>
          Robotics & Drones Research into autonomous operations through abstract
          analysis for robotic deliverables.
        </p>

        VM / LXC / Docker Get the best performance and security with nested
        layers of VPS / containerization.

        <p>
          Crypto We can build your company various test cases for blockchains
          and smart contracts.
        </p>

        <p>
          Game Design Maps, Models, Networking, Engines and more! We also offer
          support and unique libraires!
        </p>

        <p>
          Contact Manager Get Incoming and outgoing messages in the form of
          conversation.
        </p>

        <p>
          Message Templates Get Incoming and outgoing messages in the form of
          conversation.
        </p>

        <p>
          And More Get Incoming and outgoing messages in the form of
          conversation.
        </p>
      </div>
    </div>
  </SWUP>
</Core>
