---
import MainHead from '@c/MainHead.astro';
import Footer from '@c/Footer';
import Nav from '@c/Nav';
---

<html lang="en">
	<head>
		<MainHead
			title="Github | KBVE"
			description="Official Github Page for KBVE Organization."
		/>

		<style lang="scss">
			.grid {
				display: flex;
				grid-gap: 1rem;
				
			}
			.heroImg {
				max-height: 24rem;
                position: relative;
				overflow: hidden;
                background-image: url('https://images.unsplash.com/photo-1606337321936-02d1b1a4d5ef?auto=format&fit=crop&w=1400&h=700&q=75');
                background-size: cover;

			}

            h1.title {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                color: #b37e7e;
                flex-direction: column;
                font-size: var(--f-u7);
                font-weight: 900;
                text-transform: uppercase;
                text-shadow:
                    3px 3px 0 #000,
                    -1px -1px 0 #000,  
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;
                letter-spacing: 0.0625em;
                line-height: 10;
            }

            
			.bio {
				font-size: var(--f-u1);
				line-height: 2;
			}
		</style>
	</head>
	<body>
		<Nav client:only="react" />
		<div class="wrapper">
			<div class="heroImg">
				<h1 class="title mt2 mb2">Repos</h1>
			</div>
			<div class="bio wrapper wrapper__readable mt8">
			</div>
			<div class="grid">
                Repo Embed 
			</div>
		</div>
		<Footer />
	</body>
</html>
