---
//?				[GITHUB]:Template - This is the astro page for our github organization.
//?				[MIGRATION]: Removing the /p/ Folder and migrating the concept / entites into this github file.
///				[IMPORT]
import Core from "@l/theme/core.astro";					///	[IMPORT] -> [CORE]
import SWUP from "@l/theme/swup.astro";					///	[SWUP]
///				[DATA]
const {	content	} 	= Astro.props; 						/// Astro Props
---
<Core title="KBVE Login" description="Log into onto our platform!">
<SWUP>
	<div class="px-8 py-24 space-y-8" id="root">
		GitHub TODO
	</div>	
</SWUP>
</Core>
