---
import Core from "@l/theme/core.astro";					      ///	[IMPORT] -> [CORE]
import SWUP from "@l/theme/swup.astro";		///	[SWUP]

const title = "KBVE.com - Gaming, Media, FinTech, Coders";
const description = "KiloByte Virtual Enterprise is a collection of users that are straight memers";	         
const content = [title, description];

// TO:DO -> Migration
import Features from "@c/Element/Features/Generic/features.astro";

/// [SCENE] -> [START]
/// WIP
/// import Splash from "@c/Splash/splash.astro";
import Intro from "@c/Scene/Intro/intro.astro";
import Assets from "@c/Scene/Assets/Assets.astro";
import Applications from "@c/Scene/Applications/Applications.astro";
---
<Core content={content}>
        <SWUP>
          <div class="px-8 py-24 space-y-8">
          <Intro />
          <Assets  />
          <Features />
          <Applications />
          </div>
        </SWUP>
</Core>
