---
//<!-- ?       [index]
//<!-- *       [IMPORT]
import N from "@n/N.astro"; //<!-- ?  [Namespace]:[N]
import SHash from "@c/Tools/SHash";
import Splash from "@w/Splash.astro"; //<!--? [SPLASH]    ->  Splash page was resolved. Typescript errors were fixed.
import WaitList from "@w/WaitList.astro"; //<!--! [WL]        ->  WaitList Component from Mamba
import Features from "@w/Features.astro"; //<!--! [F]     -> Features still need their javascript libraries added.
import SubMenu from "@w/SubMenu.astro"; //<!--! [S]     -> SubMenu.astro 
import How from "@w/How.astro";
import Review from "@w/Reviews.astro";
//<!-- *       [Data]
let title = "KBVE.com - Gaming, Media, FinTech, Coding and Applications";
let description =
  "KBVE - KiloByte Virtual Enterprise is a consultancy firm that designs applications and modifications within the realm of machine learning, blockchain, autonomous operations and fintech. KBVE is also an art collective group that engages in artful intelligence projects.";
---

<N ns="theme" title={title} description={description} template={"data"}>
  <SHash client:only="react" />
  <!-- <Splash /><N ns="ads" template="banner" id="ezoic" /> -->
  <SubMenu />

  <div class="container mx-auto space-y-16">

    <WaitList />
    <How /> <!-- Remove -->
    <Review />
  </div>
  <Features />
  <N ns="ads" template="footer" id="ezoic" />
</N>
