---
//  [CORE]  ->  [START]
import "../styles/index.css";                               //  Import CSS Tailwind
import Head from "@c/Header/Head.astro";                    //  Import {Header -> Head}
import Theme from "@c/Header/Theme.astro";                  //  Import Header -> Theme
import Footer from "@c/Footer/Foot.astro";                  //  Import Footer -> Foot
import SocialMetaTag from "@c/SocialMedia/MetaTag.astro";   //  Import SocialMedia -> MetaTag

// TO:DO -> Migration
import MainCard from "@c/Element/Card/MainCard.astro";
import Header from "@c/Splash/header.astro";
import Features from "@c/Element/Features/Generic/features.astro";


// [SCENE] -> [START]
import Splash from "@c/Splash/splash.astro";
import Intro from "@c/Scene/Intro/intro.astro";


/// WIP
import ShacoBox from "@c/Element/Button/Floater/Contact/Contact.astro";
import GearBox from "@c/Element/Button/Floater/Settings/Settings.astro";
import Projects from "@c/Scene/Projects/Projects.astro";
import Assets from "@c/Scene/Assets/Assets.astro";
import Applications from "@c/Scene/Applications/Applications.astro";

---
<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <!-- Head -->                     <Head />
    <!-- Social Media -->             <SocialMetaTag title="KBVE.com - Gaming, Media, FinTech, Coders" description="KiloByte Virtual Enterprise is a collection of users that are straight memers" />
    <!-- initialize theme -->         <Theme />

  </head>
  <body class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white">
      <!-- Header -->                 <Header navigation:presistence />
      <!-- Splash -->                 <Splash />
    <div class="px-8 py-24 space-y-8">
      <!-- Intro -->                  <Intro />
      <!-- Assets -->                 <Assets  />
      <!-- Features -->               <Features />
      <!-- Applications -->           <Applications />
      <!-- Free The Memes  <MainCard /> -->        
    </div>

      <!-- ShacoBox -->               <ShacoBox />
      <!-- Settings -->               <GearBox  />
    <footer class="px-4 divide-y dark:bg-gray-800 dark:text-gray-100">
      <!-- <Footer /> -->             <Footer />
    </footer>
  </body>

</html>