---
//import h from "@preact/compat";
import MambaFooter from "@c/Footer/mamba_footer";
import Compatibility from "@c/Splash/compatibility.astro";
import Features from "@c/Splash/features.astro";
import Footer from "@c/Splash/footer.astro";
import Header from "@c/Splash/header.astro";
import Intro from "@c/Splash/intro.astro";
import Showcase from "@c/Splash/showcase.astro";
import Splash from "@c/Splash/splash.astro";
import "../styles/index.css";

const { site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "KBVE - KiloByte Virtual Enterprise";
---

<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    

    <title>Astro Landing Page</title>
    <meta name="description" content={description} />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"
      />
    </noscript>

    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="px-8 py-32 space-y-24">
      <Intro />
      <Features />
      <!-- <Compatibility />
      <Showcase /> -->
    </div>
    <!-- <Footer /> -->
    <MambaFooter />
  </body>
</html>