---
///	[IMPORT]
import Core from "@l/theme/core.astro";					///	[IMPORT] -> [CORE]
import SWUP from "@l/theme/swup.astro";					///	[SWUP]

import Logout from "@c/Scene/Authentication/Logout";		/// [Login]
---
<Core title="KBVE Login" description="Log into onto our platform!">
<SWUP>
	<div class="px-8 py-24 space-y-8" id="root">
		<Logout client:only="react" />
	</div>	
</SWUP>
</Core>
