---
//?				[PROFILE]:Template - <render> The client/user profile using <react> via <Scene>:<Authentication> components.
///				[MIGRATION]: Remove the /Core + SWUP/ and integrate the {N} Namespace.
///				[IMPORT]
import Core from "@l/theme/core.astro";					///	[IMPORT] -> [CORE]
import SWUP from "@l/theme/swup.astro";					///	[SWUP]
import Profile from "@c/Scene/Authentication/Profile";	/// [Profile]	
///				[DATA]
const {	content	} = 	Astro.props;
---
<Core title="KBVE Profile" description="Your KBVE Profile!">
<SWUP>
	<div class="px-8 py-24 space-y-8" id="root">
		<Profile client:only="react" />
	</div>	
</SWUP>
</Core>