---
//*				[REGISTER]
//?				^POST: We will have to expand the onboarding to a newer system.
///				[IMPORT]
import N from "@n/N.astro"; //?	{Namespace}:{N}
//import Register from "@c/Scene/Authentication/Register/Register.astro";
import Onboard from "@c/Scene/Authentication/Onboard/Onboard.astro";
///				[DATA]
const { content } = Astro.props;
let title = "KBVE Register & Onboarding";
let description = "Register onto our platform!";
---

<N ns="theme" title={title} description={description}>
  <div class="px-8 py-24 space-y-8" id="root">
    <Onboard mrmeme="Hi" />
  </div>
</N>
