---
///	[IMPORT]
import Core from "@l/theme/core.astro";					///	[IMPORT] -> [CORE]
import SWUP from "@l/theme/swup.astro";					///	[SWUP]

import Register from "@c/Scene/Authentication/Register/Register.astro";
---
<Core title="KBVE Register" description="Register onto our platform!">
<SWUP>
	<div class="px-8 py-24 space-y-8" id="root">
		<Register />
	</div>	
</SWUP>
</Core>
