---

	///				[SHOP]:Template - <render> Template for Shop : <SHOP> || <STORE>. 
	///				[DELETE?] - We could just delete the shop page for now, but that is still up in the air.
	///				[IMPORT]
	import Core from "@l/theme/core.astro";					///	[IMPORT] -> [CORE]
	import SWUP from "@l/theme/swup.astro";					///	[SWUP]
	import Sellix from '@c/Action/Sellix';

---

<Core title="KBVE Login" description="Log into onto our platform!">
	<SWUP>
		<div class="px-8 py-24 space-y-8" id="root">
			<div class="bio wrapper wrapper__readable mt8">
				<p>
					Purchase various products and services from KBVE Shop!
				</p>
                <p>
                    <Sellix product="6297eb487634c" name="Purchase VIP Membership" />
                </p>
                <Sellix lib={true} />
			</div>
		</div>	
	</SWUP>
</Core>
