---
// Main Templates
import MainHead from '@c/MainHead.astro';
import Footer from '@c/Footer';
import Nav from '@c/Nav';

// Components
import HubspotLiveChat from '@c/HubspotLiveChat';
import Calendly from '@c/Calendly';
---

<html lang="en">
	<head>

		<MainHead title="Support | KBVE.com" description="KBVE Support Page!" />
		<style lang="scss">
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
			}
		</style>
	</head>
	<body>
		<Nav client:only="preact" />
		<div class="wrapper">
			<h1>Support @ KBVE.com</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://images.unsplash.com/photo-1653212883731-4d5bc66e0181?auto=format&fit=crop&w=1400&h=350&q=75"
				/>
			</div>
			<div class="bio wrapper wrapper__readable mt8">
				<p>
					Support for KBVE software, services and equipment.
				</p>
				<p>
					Ticket System is coming soon :D
				</p>
				<p>
					<HubspotLiveChat />
				</p>
				<p>
					<Calendly text_color="e7af86" primary_color="e7af86" />
				</p>
			</div>
		</div>
		<Footer client:only="react" />
	</body>
</html>
