---
///	[IMPORT]
import Core from "@l/theme/core.astro";					///	[IMPORT] -> [CORE]
import SWUP from "@l/theme/swup.astro";					///	[SWUP]

// Components
import HubspotLiveChat from '@c/Action/HubspotLiveChat';
import Calendly from '@c/Action/Calendly';
---
<Core title="Video | KBVE.com" description="Work in Progress">
<SWUP>
	<div class="px-8 py-24 space-y-8" id="root">
			<div class="bio wrapper wrapper__readable mt8">
					<p>
					<HubspotLiveChat />
				</p>
				<p>
					<Calendly text_color="e7af86" primary_color="e7af86" />
				</p>

			</div>
	</div>	
</SWUP>
</Core>
