---
// Main Templates
import MainHead from '@c/MainHead.astro';
import Footer from '@c/Footer';
import Nav from '@c/Nav';

// Components
import VideoComponent from '@c/Video';

---

<html lang="en">
	<head>
        <MainHead title="Video | KBVE.com" description="KBVE Video Page!" />
        
        <VideoComponent header={true} />

        <style lang="scss">
			.heroImg {
                max-height: 24rem;
                position: relative;
				overflow: hidden;
                background-image: url('https://images.unsplash.com/photo-1534961165765-5c9795af911b?auto=format&fit=crop&w=1400&h=350&q=75');
                background-size: cover;
			}

            
            h1.title {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                color: white;
                flex-direction: column;
                font-size: var(--f-u7);
                font-weight: 900;
                text-transform: uppercase;
                text-shadow:
                    3px 3px 0 #000,
                    -1px -1px 0 #000,  
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;
                letter-spacing: 0.0625em;
                line-height: 10;
            }


			.bio {
				font-size: var(--f-u1);
				line-height: 2;
			}
		</style>
    </head>
	<body>
        <Nav />
        <div class="wrapper">
			<div class="heroImg">
                <h1 class="title">Video</h1>  
			</div>
			<div class="bio wrapper wrapper__readable mt8">
				<p>
                    Video Component
				</p>
				<p>
					Embed would go in here.
				</p>
				<p>
                    <VideoComponent display={true} src="youtube" id="DYlRLGVcblM" description="Videos" />
				</p>
				<p>
				</p>
			</div>

        </div>

        <Footer />
    </body>
</html>