---
///	[IMPORT]
import Core from "@l/theme/core.astro";					///	[IMPORT] -> [CORE]
import SWUP from "@l/theme/swup.astro";					///	[SWUP]

// Components
import VideoComponent from '@c/Element/Video';

---
<Core title="Video | KBVE.com" description="Work in Progress">
<SWUP>
	<div class="px-8 py-24 space-y-8" id="root">
			<div class="bio wrapper wrapper__readable mt8">
				<p>
					  Video Component
				</p>

                                    <VideoComponent display={true} iframe={true} src="yt" id="DYlRLGVcblM" height="400px" width="100%"  description="Tibi" />

			</div>
	</div>	
</SWUP>
</Core>