---
import Details from '@w/Details.astro';
import MDXLayer from '@l/MDXLayer.astro';
import MDXHero from "@w/MDXHero.astro";
import Widget from '@w/Widget.astro';
import MDXJS from '@w/MDXJS.astro';
let title = 'KBVE Github';
let description =
	"The official KBVE Github Page!";
let img =
	'https://images.unsplash.com/photo-1618401471353-b98afee0b2eb?fit=crop&w=1400&h=700&q=75';

---

<MDXLayer title={title} description={description}>

	<Widget img={img} skeleton={false}>
		
		<div class="flex justify-between">
			<h1 class="font-serif text-3xl font-medium">KBVE Github</h1>
			<a href="https://github.com/kbve/" target="_blank" class="relative inline-flex items-center justify-center px-10 py-4 overflow-hidden font-mono font-medium tracking-tighter text-white bg-gray-800 rounded-lg group">
				<span class="absolute w-0 h-0 transition-all duration-500 ease-out bg-purple-500 rounded-full group-hover:w-56 group-hover:h-56"></span>
				<span class="absolute inset-0 w-full h-full -mt-1 rounded-lg opacity-30 bg-gradient-to-b from-transparent via-transparent to-gray-700"></span>
				<span class="relative">Organization Repo</span>
				</a>
		</div>	
		<br />
		<section class="py-6 sm:py-12 bg-gray-800/75 rounded-2xl">
			<div class="container p-6 mx-auto space-y-8">
				<div class="space-y-2 text-center">
					<h2 class="text-3xl font-bold">Main Projects</h2>
					<p class="font-serif text-sm dark:text-gray-400">Crafting Code & Chronicles: The KBVE Odyssey.</p>
				</div>
				<div class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2 lg:grid-cols-4">
					<article class="flex flex-col bg-gray-900 hover:scale-105">
						<a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum">
							<img alt="" class="object-cover w-full h-52 dark:bg-gray-500" src="https://images.unsplash.com/photo-1614680376739-414d95ff43df?fit=crop&w=200&h=200&q=75">
						</a>
						<div class="flex flex-col flex-1 p-6">
							<a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum"></a>
							<a rel="noopener noreferrer" href="#" class="text-xs tracki uppercase hover:underline dark:text-orange-400">Discord.sh</a>
							<h3 class="flex-1 py-2 text-lg font-semibold leadi">Discord.sh: Elevate Your Server Experience.</h3>
							<div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs dark:text-gray-400">
								<span>Nov 30, 2023</span>
								<span>Launching Soon!</span>
							</div>
						</div>
					</article>
					<article class="flex flex-col bg-gray-900 hover:scale-105">
						<a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum">
							<img alt="" class="object-cover w-full h-52 dark:bg-gray-500" src="https://source.unsplash.com/200x200/?fashion?2">
						</a>
						<div class="flex flex-col flex-1 p-6">
							<a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum"></a>
							<a rel="noopener noreferrer" href="#" class="text-xs tracki uppercase hover:underline dark:text-orange-400">RareIcon.com</a>
							<h3 class="flex-1 py-2 text-lg font-semibold leadi">RareIcon.com: Crafting Unique Imagery, Automatically.</h3>
							<div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs dark:text-gray-400">
								<span>December 1, 2023</span>
								<span>Stay tuned!</span>
							</div>
						</div>
					</article>
					<article class="flex flex-col bg-gray-900 hover:scale-105">
						<a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum">
							<img alt="" class="object-cover w-full h-52 dark:bg-gray-500" src="https://source.unsplash.com/200x200/?fashion?3">
						</a>
						<div class="flex flex-col flex-1 p-6">
							<a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum"></a>
							<a rel="noopener noreferrer" href="#" class="text-xs tracki uppercase hover:underline dark:text-orange-400">Convenire</a>
							<h3 class="flex-1 py-2 text-lg font-semibold leadi">Te nulla oportere reprimique his dolorum</h3>
							<div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs dark:text-gray-400">
								<span>June 3, 2020</span>
								<span>2.3K views</span>
							</div>
						</div>
					</article>
					<article class="flex flex-col bg-gray-900 hover:scale-105">
						<a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum">
							<img alt="" class="object-cover w-full h-52 dark:bg-gray-500" src="https://source.unsplash.com/200x200/?fashion?4">
						</a>
						<div class="flex flex-col flex-1 p-6">
							<a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum"></a>
							<a rel="noopener noreferrer" href="#" class="text-xs tracki uppercase hover:underline dark:text-orange-400">Convenire</a>
							<h3 class="flex-1 py-2 text-lg font-semibold leadi">Te nulla oportere reprimique his dolorum</h3>
							<div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs dark:text-gray-400">
								<span>June 4, 2020</span>
								<span>2.4K views</span>
							</div>
						</div>
					</article>
				</div>
			</div>
		</section>
		
	</Widget>

	

</MDXLayer>