---
import TypeWriterManga from './TypeWriterManga';
const { data, characterName } = Astro.props;
---

	<div
		class="min-h-[100px] absolute bg-black/60 bottom-0 rounded-3xl shadow-md w-full indent-8 visible p-4"
	>
		{characterName ? `${characterName} : ` : '...'}
		<TypeWriterManga client:only="react">
			<slot />
		</TypeWriterManga>
	</div>
