---
// Magic Conch.
import Conch from "./Conch";
---

<script is:inline>
  var yes = new Audio("/assets/audio/yes.ogg");
  var no = new Audio("/assets/audio/no.ogg");
  var lastMod = 0;
  var waitTime = 2500;
  function sleep(time) {
    return new Promise((resolve) => setTimeout(resolve, time));
  }
  function playAnswer() {
    var answerElement = document.getElementById("answerElement");
    var answer = Math.random() >= 0.5 ? "Yes" : "No";
    var audio = answer === "Yes" ? yes : no;
    audio.play();
    answerElement.innerHTML = answer;
    lastMod = new Date().getTime();
    sleep(waitTime).then(() => {
      var time = new Date().getTime();
      if (time - lastMod >= waitTime) {
        answerElement.innerHTML = `<textarea
              rows="3"
              placeholder="Message..."
              class="p-4 rounded-md resize-none text-gray-600 w-full"
              spellcheck="false" />`;
        lastMod = time;
      }
    });
  }
</script>
<div
  class="flex flex-wrap justify-center items-center bg-fixed bg-center bg-cover overflow-auto"
  style={{ backgroundImage: `url(/assets/img/bg/bikini_bottom_bg.jpg)` }}
>
  <div
    class="container flex flex-col flex-wrap content-center justify-center p-4 py-20 mx-auto md:p-10"
  >
  
  <Conch client:only="react" />
  <!--  
    <div
      class="flex flex-col p-4 shadow-sm rounded-2xl lg:p-8 bg-offset dark:text-gray-100"
    >
      <div class="flex flex-col items-center w-full">
        <h1
          class="text-2xl antialiased font-bold leading-none text-center gradient-text text-shadow-xl"
        >
          Ask the Shadow Conch of Darkness!
        </h1>

        <div class="flex flex-col w-full">
          <span
            class="text-3xl font-semibold text-center gradient-text py-2"
            id="answerElement"
            ><textarea
              rows="3"
              placeholder="Type your magic message here and click the shell below..."
              class="p-4 rounded-md resize text-gray-600 w-full"
              spellcheck="false"></textarea></span
          >
        </div>
      </div>
    </div>
    
    <div class="flex flex-row justify-center">
      <img
        src="/assets/img/conch/conch_shell.png"
        class="hover:animate-pulse hover:scale-110 hover:cursor-grab hover:grayscale"
        onclick="playAnswer();"
      />
    </div>
    -->
    <br />
    <br />
    <!--* [CREDITS] -->
    <div class="px-8 py-2 bg-offset">
      <div
        class="flex text-sm items-center mx-auto container justify-center md:justify-between py-2"
      >
        <div>
          <span class="gradient-text">Credits: Deconimus, Frank, KBVE </span>
        </div>
        <a
          href="#"
          rel="noopener noreferrer"
          class="items-center gap-2 hidden md:flex"
        >
          <svg role="img" viewBox="0 0 22 22" class="fill-current h-4 w-4">
            <path
              clip-rule="evenodd"
              d="M6.5 1.75a1.75 1.75 0 100 3.5h3.51a8.785 8.785 0 00-.605-1.389C8.762 2.691 7.833 1.75 6.5 1.75zm5.49 3.5h3.51a1.75 1.75 0 000-3.5c-1.333 0-2.262.941-2.905 2.111a8.778 8.778 0 00-.605 1.389zM1.75 6.75v3.5h18.5v-3.5H1.75zm18 5H21a.75.75 0 00.75-.75V6a.75.75 0 00-.75-.75h-2.761a3.25 3.25 0 00-2.739-5c-2.167 0-3.488 1.559-4.22 2.889a9.32 9.32 0 00-.28.553 9.32 9.32 0 00-.28-.553C9.988 1.809 8.667.25 6.5.25a3.25 3.25 0 00-2.739 5H1A.75.75 0 00.25 6v5c0 .414.336.75.75.75h1.25V21c0 .414.336.75.75.75h16a.75.75 0 00.75-.75v-9.25zm-1.5 0H3.75v8.5h14.5v-8.5z"
              fill-rule="evenodd"></path>
          </svg>
          <span class="hover:underline focus-visible:underline">Memes</span>
        </a>
      </div>
    </div>
  </div>
</div>
