---
//?     [Namespace]     ->      [Theme]

//?     [DATA]
const { 
    title, 
    description,
    template = false,
    data = false,
    bg,
} = Astro.props;		

//?     [IMPORTS]
import Core from "@l/theme/core.astro";
---
<Core title={title} description={description} bg={bg}>
   
        {(template == false) && <div class="px-8 py-8 space-y-8"></div>}
        <slot />
</Core>