---
import MainHead from '@c/MainHead.astro';
import Nav from '@c/Nav';
import Footer from '@c/Footer';
import AssetPreview from '@c/AssetPreview';

const asset = (await Astro.glob('./**/**/*.mdx'))
.filter(({ frontmatter }) => !!frontmatter.publishDate)
	.sort(
		(a, b) =>
			new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
---

<html lang="en">
	<head>
		<MainHead
			title="All Asset | KBVE"
			description="Every asset that KBVE tracks"
		/>
		<style lang="scss">
			.grid {
				display: flex;
				grid-gap: 1rem;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1 class="title mt2 mb2">Assets</h1>
			<div class="grid">
				{asset.map((project) => <AssetPreview project={project} />)}
			</div>
		</div>
		<Footer />
	</body>
</html>
