.footer {
	text-align: center;
	padding-top: 8rem;
	padding-right: 2rem;
	padding-bottom: 4rem;
	padding-left: 2rem;
	background: rgba(255, 255, 255, 0.28);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	border: 1px solid rgba(255, 255, 255, 0.19);
}

.byline {
	display: block;
	margin-top: 1rem;
	color: var(--t-subdue);
	font-size: var(--f-d2);
	text-transform: uppercase;
}
