---
//import _ from "lodash";
const { id, data }   = Astro.props;
import { getEntry } from 'astro:content';
const eula = await getEntry('legal', 'eula.md');
const { Content } = await eula.render();
---

<article class="px-6 py-24 mx-auto space-y-12 dark:bg-gray-800 dark:text-gray-50">
	<div class="w-full mx-auto space-y-4 text-center">
		<p class="text-xs font-semibold tracking-wider uppercase">#legal </p>
		<h1 class="text-4xl font-bold leading-tight md:text-5xl"></h1>
		<p class="text-sm dark:text-gray-400">by
			<a rel="noopener noreferrer" href="#" target="_blank" class="underline dark:text-orange-400">
				<span itemprop="name">KBVE Staff</span>
			</a>on
			<time datetime="2021-02-12 15:34:18-0200">Feb 12th 2021</time>
		</p>
	</div>
	<div class="p-5 bg-offset">
		<Content />
	</div>
</article>
