---
//      Seach Action
//      [IMPORT]
import SearchData from "./search";
//<!--*   [DATA]
const { src, description } = Astro.props;
---

<!--    [START]   Google CSE Code -->
<script
  is:inline
  async
  src="https://cse.google.com/cse.js?cx=partner-pub-3698214103602019:ab1srxiqkuo"
></script>
<!--    [END]     Google CSE Code --><!--    [START]   SearchData -->

<!--    [END]     SearchData --><!-- component -->

<!-- component -->

<!-- New Component from Creative Tim's Discord, Huge thanks -->
<div class="flex flex-wrap" id="tabs-id">
  <div class="w-full">
    <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-white bg-slate-600" onclick="changeAtiveTab(event,'tab-profile')">
          <i class="fas fa-space-shuttle text-base mr-1"></i>  Google
        </a>
      </li>
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-pink-600 bg-white" onclick="changeAtiveTab(event,'tab-settings')">
          <i class="fas fa-cog text-base mr-1"></i>  Settings
        </a>
      </li>
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-pink-600 bg-white" onclick="changeAtiveTab(event,'tab-options')">
          <i class="fas fa-briefcase text-base mr-1"></i>  Options
        </a>
      </li>
    </ul>
    <div class="relative flex flex-col min-w-0 break-words bg-offset w-full mb-6 shadow-lg rounded">
      <div class="px-4 py-5 flex-auto">
        <div class="tab-content tab-space">
          <div class="block" id="tab-profile">
            <p>
              <div class="">
                <div class="gcse-search"></div>
              </div> 
              <SearchData client:only />
            </p>
          </div>
          <div class="hidden" id="tab-settings">
            <p>
              Completely synergize resource taxing relationships via
              premier niche markets. Professionally cultivate one-to-one
              customer service with robust ideas.
              <br />
              <br />
              Dynamically innovate resource-leveling customer service for
              state of the art customer service.
            </p>
          </div>
          <div class="hidden" id="tab-options">
            <p>
              Efficiently unleash cross-media information without
              cross-media value. Quickly maximize timely deliverables for
              real-time schemas.
              <br />
              <br />
              Dramatically maintain clicks-and-mortar solutions
              without functional solutions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function changeAtiveTab(event,tabID){
    let element = event.target;
    while(element.nodeName !== "A"){
      element = element.parentNode;
    }
    ulElement = element.parentNode.parentNode;
    aElements = ulElement.querySelectorAll("li > a");
    tabContents = document.getElementById("tabs-id").querySelectorAll(".tab-content > div");
    for(let i = 0 ; i < aElements.length; i++){
      aElements[i].classList.remove("text-white");
      aElements[i].classList.remove("bg-slate-600");
      aElements[i].classList.add("text-slate-600");
      aElements[i].classList.add("bg-white");
      tabContents[i].classList.add("hidden");
      tabContents[i].classList.remove("block");
    }
    element.classList.remove("text-slate-600");
    element.classList.remove("bg-white");
    element.classList.add("text-white");
    element.classList.add("bg-slate-600");
    document.getElementById(tabID).classList.remove("hidden");
    document.getElementById(tabID).classList.add("block");
  }
</script>