---
//      Seach Action
//      [IMPORT]
import SearchData from "./search";
const { src, description } = Astro.props;
---

<!--    [START]   Google CSE Code -->
<script
  is:inline
  async
  src="https://cse.google.com/cse.js?cx=partner-pub-3698214103602019:ab1srxiqkuo"
></script>
<!--    [END]     Google CSE Code --><!--    [START]   SearchData -->
<div>
  <div class="gcse-search"></div>
</div>
<SearchData client:only />
<!--    [END]     SearchData -->
