---
/** 
 * 

File by Appwrite Team, located here: https://github.com/appwrite/demos-for-astro/

MIT License

Copyright (c) 2023 Appwrite, 

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
 */

//<!--*             [IMPORT]
import N from "@n/N.astro"; //      [NameSpace]
import Profile from "@w/Profile.astro";
let title = "KBVE Account";
let description =
  "Manage your KBVE Profile and Account through our online portal";
---

<N ns="theme" title={title} description={description}>
  <script>
    import { user$, logout } from "@lib/appwrite";

    const loginElem: HTMLElement | null =
      document.querySelector("#accountLoginLink");
    const userElem: HTMLElement | null = document.querySelector("#accountUser");

    function _hide(element: string)
    {
      let __v: HTMLElement | null = document.querySelector(element);
      if(__v) { __v.style.display = "none"; }
    }

    function _k(element: string, value: string)
    {
      let __v: HTMLElement | null = document.querySelector(element);
      if(__v) { __v.innerHTML = value; }
      else 
      {
        console.log(`Cant Find ${element} `);
      }
    }

    user$.subscribe((user) => {
      if (!loginElem || !userElem) return;
      if (user) {
        loginElem.style.display = "none";
        userElem.style.display = "block";

        const accountUserDetailElem: HTMLElement | null =
          document.querySelector("#accountUserDetail");

        if (accountUserDetailElem) {
          console.log(user);
          _hide("#loader");
          _k('#username',user.name);
          _k('#email',user.email);
          _k('#phone', user.phone || 'Phone is not set!');
          if(user.prefs.admin) {
          _k('#title', 'Admin');
          }
          _k('#data',JSON.stringify(user));

          accountUserDetailElem.innerHTML = `Email: ${user.email} Admin: ${
            user.prefs.admin || false
          }`;
        }
      } else {
        loginElem.style.display = "block";
        userElem.style.display = "none";
      }
    });

    const logoutElem: HTMLButtonElement | null =
      document.querySelector("#account-logout");
    logoutElem?.addEventListener("click", (e) => {
      logout();
    });
  </script>

  <h1 class="heading-level-1">Account</h1>

  <section id="accountLoginLink">
    <a href="/account/login">Login</a>
    <a href="/account/register">Register</a>
  </section>

  <section id="loader">
    <div class="w-16 h-16 border-4 border-dashed rounded-full animate-spin dark:border-violet-400"></div>
    <div class="flex flex-col m-8 rounded shadow-md w-60 sm:w-80 animate-pulse h-96">
      <div class="h-48 rounded-t dark:bg-gray-700"></div>
      <div class="flex-1 px-4 py-8 space-y-4 sm:p-8 dark:bg-gray-900">
        <div class="w-full h-6 rounded dark:bg-gray-700"></div>
        <div class="w-full h-6 rounded dark:bg-gray-700"></div>
        <div class="w-3/4 h-6 rounded dark:bg-gray-700"></div>
      </div>
    </div>
  </section>

  <section id="accountUser">
    <div class="u-flex u-flex-vertical u-gap-4">
      <section id="accountUserDetail"></section>
      <Profile />
      <button id="account-logout" class="button">Logout</button>
    </div>
  </section>
</N>
