---
//  ? [IMPORT]
import N from '@n/N.astro'; //      [NameSpace]
import Form from '@lib/Form/Form.astro';
let title = 'KBVE Account Login';
let description = 'Login into the KBVE Portal';
---

<N ns="theme" title={title} description={description}>
	<div class="p-5 mx-auto sm:p-10 md:p-16">
		<div class="flex flex-col max-w-3xl mx-auto overflow-hidden rounded">
			<img
				src="https://images.unsplash.com/photo-1630088612853-58ddda1c4856?ixlib=rb-4.0.3&fit=crop&w=1400&h=700&q=75"
				alt=""
				class="w-full h-60 sm:h-96"
			/>
			<div
				class="p-6 pb-12 m-4 mx-auto -mt-16 space-y-6 lg:max-w-2xl sm:px-10 sm:mx-12 lg:rounded-2xl bg-offset"
			>
				<div class="space-y-2">
					<a
						rel="noopener noreferrer"
						href="#"
						class="inline-block text-2xl font-semibold sm:text-3xl gradient-text text-shadow-lg shadow-black m-4"
						>KBVE Login Portal</a
					>
					
				</div>

				<Form className="login" />
			</div>
		</div>
	</div>
</N>
