---
/** 
 * 

File by Appwrite Team, located here: https://github.com/appwrite/demos-for-astro/

MIT License

Copyright (c) 2023 Appwrite, 

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
 */

//<!--*             [IMPORT]
import N from "@n/N.astro"; //      [NameSpace]
import KBVE from "@l/KBVE.astro";
import Menu from "@l/Menu.astro";
let title = "KBVE Account Registration";
let description =
  "Register onto the KBVE Portal! Remember it is free to join and we will try to add a ton of cool new features xD";
---

<KBVE title={title} description={description}>
  <Menu>
  <script>
    //<!--*      [IMPORT]     -->
    import type { AppwriteException } from "appwrite";
    import { register } from "@lib/appwrite";

    //<!--*      [VAR]        -->
    const formElem: HTMLFormElement | null = document.querySelector("form");
    const loadElem: HTMLElement | null = document.querySelector("#accountLoad");
    const errorElem: HTMLElement | null = document.querySelector("#errorLoad");
    const errorMsgElem: HTMLElement | null = document.querySelector("#errorMsg");

    const googleElem: HTMLElement | null = document.querySelector("#googleSSO");
    const twitterElem: HTMLElement | null = document.querySelector("#twitterSSO");
    const githubElem: HTMLElement | null = document.querySelector("#githubSSO");


    googleElem?.addEventListener("click", (e) => {
      e.preventDefault();
      ErrorMessage("Google SSO is Disabled");
    });

    twitterElem?.addEventListener("click", (e) => {
      e.preventDefault();
      ErrorMessage("Twitter SSO is Disabled");
    });

    githubElem?.addEventListener("click", (e) => {
      e.preventDefault();
      ErrorMessage("Github SSO is Disabled");
    });



    loadElem.style.display = "none";
    errorElem.style.display = "none";

    function ResetForm()
    {
      formElem.style.display = "initial";
      loadElem.style.display = "none";
    }

    function ResetError()
    {
      errorElem.style.display = "none";
      errorMsgElem.innerText = "";
    }

    function ErrorMessage(error: string)
    {
      errorElem.style.display = "initial";
      errorMsgElem.innerText = error;
      console.log(error);
      ResetForm();
    }

    formElem?.addEventListener("submit", (e) => {
      e.preventDefault();
      ResetError();
      ResetForm();

      const emailElem: HTMLInputElement | null =
        formElem.querySelector('input[id="email"]');

      const passwordElem: HTMLInputElement | null = formElem.querySelector(
        'input[id="password"]'
      );

      const nameElem: HTMLInputElement | null =
        formElem.querySelector('input[id="name"]');

      const email = emailElem?.value;

      const password = passwordElem?.value;
      
      const name = nameElem?.value;

      if (!email) {
        ErrorMessage("Email is required.");
        return;
      }

      if (!name) {
        ErrorMessage("Username is required.");
        return;
      }

      if (!password) {
        ErrorMessage("Password is required.");
        return;
      }

      if (password.length < 8) {
        ErrorMessage("Password must be at least 8 characters long.");
        return;
      }

      if (name.length < 8) {
        ErrorMessage("Username must be at least 8 characters long.");
        return;
      }

      register(email, password, name).then(function (response) {
            //ErrorMessage(response);
        }, function (error) {
            ErrorMessage(error);
        });
    });
  </script>

  <section class="gradient-form h-min bg-neutral-700">
    <div class="container mx-auto p-10">
      <div
        class="g-6 flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200"
      >
        <div class="w-full">
          <div class="block rounded-lg  shadow-lg bg-offset">
            <div class="g-0 lg:flex lg:flex-wrap">
              <!-- Left column container-->
              <div class="px-4 md:px-0 lg:w-6/12">
                <div class="md:mx-6 md:p-12">
                  <!--Logo-->
                  <div class="text-center">
                    <img
                      class="mx-auto w-48"
                      src="/assets/img/letter_logo.png"
                      alt="logo"
                    />
                    <h4
                      class="mb-12 mt-1 pb-1 text-xl font-semibold gradient-text"
                    >
                      We are KBVE.
                    </h4>
                  </div>

                  <!-- AccountLoad [START] -->
                  
                  <section id="accountLoad" class="z-50">
                    <div class="u-flex u-flex-vertical u-gap-4">
                      <div class="w-16 h-16 border-4 border-dashed rounded-full animate-spin dark:border-violet-400"></div>
                    </div>
                  </section>

                  <!-- AccountLoad [END] -->

                  <!-- Error Load -->
                  <section id="errorLoad">
                    <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
                      <p id="errorMsg">Something went wrong!</p>
                    </div>
                  </section>

                 
                  <!-- 
                  Register Start
                 -->
                  <div class="items-center content-center justify-center">
                    <div class="w-full p-4 space-y-3 rounded-xl">
                      <h1 class="text-2xl font-bold text-center text-default">Register</h1>
                      <form
                        novalidate=""
                        action=""
                        class="space-y-6 ng-untouched ng-pristine ng-valid"
                      >
                        <!-- Email [START] -->
                        <div class="space-y-1 text-sm">
                          <label for="email" class="block text-default"
                            >Email</label
                          >
                          <input
                            type="email"
                            name="email"
                            id="email"
                            placeholder="Email"
                            class="w-full px-4 py-3 rounded-md dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100 focus:dark:border-violet-400"
                          />
                        </div>
                        <!-- Email [END] -->
                        <!-- Username [START] -->
                        <div class="space-y-1 text-sm">
                          <label for="username" class="block text-default"
                            >Username</label
                          >
                          <input
                            type="text"
                            name="username"
                            id="name"
                            placeholder="Username"
                            class="w-full px-4 py-3 rounded-md dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100 focus:dark:border-violet-400"
                          />
                        </div>
                        <!-- Username [END] -->
                        <div class="space-y-1 text-sm">
                          <label for="password" class="block text-default"
                            >Password</label
                          >
                          <input
                            type="password"
                            name="password"
                            id="password"
                            placeholder="Password"
                            class="w-full px-4 py-3 rounded-md dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100 focus:dark:border-violet-400"
                          />
                          <div
                            class="flex justify-end text-xs text-default"
                          >
                            <a rel="noopener noreferrer" href="#"
                              >Need a Password?</a
                            >
                          </div>
                        </div>
                        <button
                          class="block w-full p-3 text-center rounded-sm text-default bg-violet-400"
                          >Sign up</button
                        >
                      </form>
                      <div class="flex items-center pt-4 space-x-1">
                        <div class="flex-1 h-px sm:w-16 dark:bg-gray-700"></div>
                        <p class="px-3 text-sm text-default">
                          Login with social accounts
                        </p>
                        <div class="flex-1 h-px sm:w-16 dark:bg-gray-700"></div>
                      </div>
                      <div class="flex justify-center space-x-4">
                        <button
                          aria-label="Log in with Google"
                          class="p-3 rounded-sm text-default"
                          id="googleSSO"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 32 32"
                            class="w-5 h-5 fill-current"
                          >
                            <path
                              d="M16.318 13.714v5.484h9.078c-0.37 2.354-2.745 6.901-9.078 6.901-5.458 0-9.917-4.521-9.917-10.099s4.458-10.099 9.917-10.099c3.109 0 5.193 1.318 6.38 2.464l4.339-4.182c-2.786-2.599-6.396-4.182-10.719-4.182-8.844 0-16 7.151-16 16s7.156 16 16 16c9.234 0 15.365-6.49 15.365-15.635 0-1.052-0.115-1.854-0.255-2.651z"
                            ></path>
                          </svg>
                        </button>
                        <button
                          aria-label="Log in with Twitter"
                          class="p-3 rounded-sm text-default"
                          id="twitterSSO"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 32 32"
                            class="w-5 h-5 fill-current"
                          >
                            <path
                              d="M31.937 6.093c-1.177 0.516-2.437 0.871-3.765 1.032 1.355-0.813 2.391-2.099 2.885-3.631-1.271 0.74-2.677 1.276-4.172 1.579-1.192-1.276-2.896-2.079-4.787-2.079-3.625 0-6.563 2.937-6.563 6.557 0 0.521 0.063 1.021 0.172 1.495-5.453-0.255-10.287-2.875-13.52-6.833-0.568 0.964-0.891 2.084-0.891 3.303 0 2.281 1.161 4.281 2.916 5.457-1.073-0.031-2.083-0.328-2.968-0.817v0.079c0 3.181 2.26 5.833 5.26 6.437-0.547 0.145-1.131 0.229-1.724 0.229-0.421 0-0.823-0.041-1.224-0.115 0.844 2.604 3.26 4.5 6.14 4.557-2.239 1.755-5.077 2.801-8.135 2.801-0.521 0-1.041-0.025-1.563-0.088 2.917 1.86 6.36 2.948 10.079 2.948 12.067 0 18.661-9.995 18.661-18.651 0-0.276 0-0.557-0.021-0.839 1.287-0.917 2.401-2.079 3.281-3.396z"
                            ></path>
                          </svg>
                        </button>
                        <button
                          aria-label="Log in with GitHub"
                          class="p-3 rounded-sm text-default"
                          id="githubSSO"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 32 32"
                            class="w-5 h-5 fill-current"
                          >
                            <path
                              d="M16 0.396c-8.839 0-16 7.167-16 16 0 7.073 4.584 13.068 10.937 15.183 0.803 0.151 1.093-0.344 1.093-0.772 0-0.38-0.009-1.385-0.015-2.719-4.453 0.964-5.391-2.151-5.391-2.151-0.729-1.844-1.781-2.339-1.781-2.339-1.448-0.989 0.115-0.968 0.115-0.968 1.604 0.109 2.448 1.645 2.448 1.645 1.427 2.448 3.744 1.74 4.661 1.328 0.14-1.031 0.557-1.74 1.011-2.135-3.552-0.401-7.287-1.776-7.287-7.907 0-1.751 0.62-3.177 1.645-4.297-0.177-0.401-0.719-2.031 0.141-4.235 0 0 1.339-0.427 4.4 1.641 1.281-0.355 2.641-0.532 4-0.541 1.36 0.009 2.719 0.187 4 0.541 3.043-2.068 4.381-1.641 4.381-1.641 0.859 2.204 0.317 3.833 0.161 4.235 1.015 1.12 1.635 2.547 1.635 4.297 0 6.145-3.74 7.5-7.296 7.891 0.556 0.479 1.077 1.464 1.077 2.959 0 2.14-0.020 3.864-0.020 4.385 0 0.416 0.28 0.916 1.104 0.755 6.4-2.093 10.979-8.093 10.979-15.156 0-8.833-7.161-16-16-16z"
                            ></path>
                          </svg>
                        </button>
                      </div>
                      <p class="text-xs text-center sm:px-6 text-default">
                        Already have an account?
                        <a
                          rel="noopener noreferrer"
                          href="/account/login/"
                          class="underline text-default">Sign In</a
                        >
                      </p>
                    </div>
                  </div>
                  <!-- Register End -->
                </div>
              </div>

              <!-- Right column container with background and description-->
              <div
                class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none"
                style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593)"
              >
                <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                  <h4 class="mb-6 text-xl font-semibold">
                    We are more than just a company
                  </h4>
                  <p class="text-sm">Register for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Menu>
</KBVE>
