---
const concepts = await Astro.glob('./*.md*');
import MDXJS from '@w/MDXJS.astro';
---
<MDXJS>
	<div id="concepts" class="gradient-text text-lg">
		Concepts
	</div>
	<p>
        Concept
    </p>

</MDXJS>


{
	concepts.map((note) => (
		<MDXJS transparent={false}>
			<div>
				<article class="">
					<h2>{note.frontmatter.title}</h2>
					<p>{note.frontmatter.description}</p>

					<note.Content />
				</article>
			</div>
		</MDXJS>
	))
}