---
import Core from "@l/theme/core.astro";			                            ///	[IMPORT]        ->  [CORE]
import SWUP from "@l/theme/swup.astro";			                            ///	[SWUP]          ->  Currently facing {hydration} issues #102



const data = {                                                              /// {data}
	title: "Rogue Jester Action Shooter RPG Official Page", description: "KBVE Presents an action rpg shooter that encompasses the nature of cyberpunk aesthetics with a touch of meme-like zest."}	
const { content = data } = Astro.props;

---
<Core content={content}>
    <SWUP>
        <div class="px-8 py-6 space-y-8">
        </div>

            <!--    [Hero]  ->  [START]  -->

            <!--    [Hero]  ->  [END]    -->

            <!--    [CallToAction]  ->  [START] -->

            <!--    [CallToAction]  ->  [END]   -->

            <!--    [Team]?     -->

            <!--    [Media]?    -->

            <!--    [Links]?    -->

            
    </SWUP>
</Core>

<!--    [NOTES] 

- RogueJester is an open-matrix, sci-fi, action-shooter RPG set in the outter rim of the galaxy — after the Great Cyber Year of 2101.
- You are a poor student that has inherited generational college debt of over 1 million dollars from your late family.
- You have a social credit score of 69 out of 9000.
- Your first born is owed to the Iron Galactic Banking Clan until your debt has been repaid.
- If you fall below 2 million in debt, you will be margin called and a warrent for your arrest will be issued by the CEO of IGBC, Lucifurr Da Kat.

-->