---
//?       [FOOTER]:Template
//!       [REMOVE]:<Utility> - We will migrate the Utility component out of tools and into its own <Collection>.
//!       [MIGRATION]: Restructure of the <tools> collection.
///
//!       [IMPORTS]
///       [NAMESPACE]     ->        [N]
import N from "@n/N.astro";
import Socials from "@w/Socials.astro";
//!       [DATA]          ->        [$const]
const { content } = Astro.props;
///       <Utility>: These components will have to be removed and replaced with collections engine.
---

<section class="w-full py-8 relative mt-16 border-t">
  <div class="max-w-screen-xl px-4 mx-auto">
    <ul
      class="flex flex-wrap justify-between max-w-screen-md mx-auto text-lg font-light"
    >
      <li class="my-2">
        <a
          class="text-secondary hover:text-primary duration-200"
          href="https://kbve.com/support"
        >
          Support
        </a>
      </li>
      <li class="my-2">
        <a
          class="text-secondary hover:text-primary duration-200"
          href="https://kbve.com/register"
        >
          Register
        </a>
      </li>
      <!-- [LEGAL] - [START] -->
      <li class="my-2">
        <a
          class="text-secondary hover:text-primary duration-200"
          href="https://kbve.com/legal/tos/"
        >
          Terms of Service
        </a>
      </li>
      <li class="my-2">
        <a
          class="text-secondary hover:text-primary duration-200"
          href="https://kbve.com/legal/privacy/"
        >
          Privacy Policy
        </a>
      </li>
      <li class="my-2">
        <a
          class="text-secondary hover:text-primary duration-200"
          href="https://kbve.com/legal/eula/"
        >
          EULA
        </a>
      </li>
      <!-- [LEGAL] - [END] -->
    </ul>
    <div class="pt-8 flex max-w-xs mx-auto items-center justify-between">
      
      <Socials />

    </div>
    <N ns="ads" template="footer" id="ezoic" />
    <div
      class="text-center pt-10 sm:pt-12 font-light flex items-center justify-center"
    >

    </div>
    <div
      class="text-center text-sm pt-10 sm:pt-12 font-light flex items-center justify-center"
    >
      KiloByte Virtual Enterprise is a consultancy firm that designs
      applications and modifications within the realm of machine learning,
      blockchain, autonomous operations and fintech.
    </div>
  </div>
</section>