---
//  <!-- ? [SideBar] -->
import Disable from '@w/Disable.astro'; // Disable Astro
import LaunchApp from '@w/LaunchApp.astro';
import Socials from '@w/Socials.astro';
import SVG from '@c/Library/SVG/SVG.astro';
---

<aside class="self-start sticky top-0 md:basis-1/6 p-4 hidden md:block">
	<!-- 
      * Sidebar - [START]
     -->
	<div
		class="mt-20 h-full p-3 space-y-2 bg-offset opacity-60 hover:opacity-100 ease-in-out duration-1000 min-w-[300px]"
	>
		<div class="flex items-center p-2 space-x-4">
			<img
				src="https://source.unsplash.com/100x100/?portrait"
				alt=""
				class="w-12 h-12 rounded-full"
			/>
			<div>
				<h2 class="text-lg font-semibold gradient-text">Menu</h2>
				<!-- <span class="flex items-center space-x-1">
					<a
						rel="noopener noreferrer"
						href="#"
						class="text-xs hover:underline text-gray-400">View profile</a
					>
				</span> -->
			</div>
		</div>
		<div class="divide-y divide-gray-700">
			<ul class="pt-2 pb-4 space-y-1 text-sm">
				<li>
					<a
						rel="noopener noreferrer"
						href="/"
						class="flex items-center p-2 space-x-3 rounded-md"
					>
						<SVG name="mdiCubeOutline" />
						<span>Dashboard</span>
						<!-- <Disable /> -->
					</a>
				</li>
				<li>
					<a
						rel="noopener noreferrer"
						href="/search/"
						class="flex items-center p-2 space-x-3 rounded-md"
					>
						<SVG name="mdiMagnify" />
						<span>Search</span>
					</a>
				</li>
				<li>
					<a
						rel="noopener noreferrer"
						href="/application/"
						class="flex items-center p-2 space-x-3 rounded-md"
					>
						<SVG name="mdiDesktopClassic" />
						<!-- <Icon
							class="w-5 h-5"
							name="mdi:desktop-classic"
						/> -->
						<span>Applications</span>
					</a>
				</li>
				<li>
					<a
						rel="noopener noreferrer"
						href="/tools/"
						class="flex items-center p-2 space-x-3 rounded-md"
					>
						<SVG name="mdiTools" />
						<span>Tools</span>
					</a>
				</li>
				<li>
					<a
						rel="noopener noreferrer"
						href="/asset/"
						class="flex items-center p-2 space-x-3 rounded-md"
					>
						<SVG name="mdiChartLine" />
						<span>Assets</span>
					</a>
				</li>
				<li>
					<a
						rel="noopener noreferrer"
						href="/project/"
						class="flex items-center p-2 space-x-3 rounded-md"
					>
						<SVG name="mdiCompassRose" />
						<span>Projects</span>
					</a>
				</li>
				<li>
					<a
						rel="noopener noreferrer"
						href="/theory/"
						class="flex items-center p-2 space-x-3 rounded-md"
					>
						<SVG name="mdiHumanFemaleBoy" />
						<span>Theory</span>
					</a>
				</li>
				<li>
					<a
						rel="noopener noreferrer"
						href="/recipe/"
						class="flex items-center p-2 space-x-3 rounded-md"
					>
						<SVG name="mdiCookieOutline" />
						<span>Recipe</span>
					</a>
				</li>
				<li>
					<a
						rel="noopener noreferrer"
						href="/news/"
						class="flex items-center p-2 space-x-3 rounded-md"
					>
						<SVG name="mdiNewspaperVariantOutline" />
						<span>News</span>
					</a>
				</li>
				<li>
					<a
						rel="noopener noreferrer"
						href="/journal/"
						class="flex items-center p-2 space-x-3 rounded-md"
					>
						<SVG name="mdiNoteOutline" />
						<span>Journal</span>
					</a>
				</li>
				
			</ul>
			<ul class="pt-4 p-2 space-y-1 text-sm">
				<li>
					<a
						rel="noopener noreferrer"
						href="/account/"
						class="flex items-center space-x-3 rounded-md"
					>
						<SVG name="mdiAccountCircleOutline" />
						<span>Account</span>
					</a>
				</li>
				<li>
					<a
						rel="noopener noreferrer"
						href="/account/message/"
						class="flex items-center space-x-3 rounded-md"
					>
						<SVG name="mdiEmailOutline" />
						<span>Messages</span>
					</a>
				</li>
			</ul>
			
			<!-- mdiEmailNewsletter -->
		</div>

		<!-- <div class="p-2">
			<LaunchApp />
		</div> -->

		<div class="p-2 pt-0 flex flex-row grow justify-between">
			<div class="flex flex-col justify-between">
				<div class="flex flex-row self-center">
					<Socials />
				</div>
				<div class="flex flex-col">
					<span class="flex items-center space-x-1">
						<a
							rel="noopener noreferrer"
							href="/support/"
							class="text-xs hover:underline text-gray-400">Contact Us</a
						>
					</span>
					<span class="flex items-center space-x-1">
						<a
							rel="noopener noreferrer"
							href="/legal/"
							class="text-xs hover:underline text-gray-400">Legal</a
						>
					</span>
				</div>
			</div>
		</div>
	</div>
</aside>
