---
//  <!-- ? [SideBar] -->
import Disable from '@w/Disable.astro'; // Disable Astro
import LaunchApp from '@w/LaunchApp.astro';
import Socials from '@w/Socials.astro';
import { Icon } from 'astro-icon';
import SVG from '@c/Library/SVG/SVG.astro';
---

<aside class="self-start sticky top-0 md:basis-1/6 p-4 hidden md:block">
	<!-- 
      * Sidebar - [START]
     -->
	<div
		class="mt-20 h-full p-3 space-y-2 bg-offset opacity-60 hover:opacity-100 ease-in-out duration-1000 min-w-[300px]"
	>
		<div class="flex items-center p-2 space-x-4">
			<img
				src="https://source.unsplash.com/100x100/?portrait"
				alt=""
				class="w-12 h-12 rounded-full"
			/>
			<div>
				<h2 class="text-lg font-semibold gradient-text">Guest Guesty</h2>
				<!-- <span class="flex items-center space-x-1">
					<a
						rel="noopener noreferrer"
						href="#"
						class="text-xs hover:underline text-gray-400">View profile</a
					>
				</span> -->
			</div>
		</div>
		<div class="divide-y divide-gray-700">
			<ul class="pt-2 pb-4 space-y-1 text-sm">
				<li class="bg-gray-800 text-gray-50">
					<a
						rel="noopener noreferrer"
						href="/"
						class="flex items-center p-2 space-x-3 rounded-md"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 512 512"
							class="w-5 h-5 fill-current text-gray-400"
						>
							<path
								d="M68.983,382.642l171.35,98.928a32.082,32.082,0,0,0,32,0l171.352-98.929a32.093,32.093,0,0,0,16-27.713V157.071a32.092,32.092,0,0,0-16-27.713L272.334,30.429a32.086,32.086,0,0,0-32,0L68.983,129.358a32.09,32.09,0,0,0-16,27.713V354.929A32.09,32.09,0,0,0,68.983,382.642ZM272.333,67.38l155.351,89.691V334.449L272.333,246.642ZM256.282,274.327l157.155,88.828-157.1,90.7L99.179,363.125ZM84.983,157.071,240.333,67.38v179.2L84.983,334.39Z"
							></path>
						</svg>
						<span>Dashboard</span>
						<!-- <Disable /> -->
					</a>
				</li>
				<li>
					<a
						rel="noopener noreferrer"
						href="/search"
						class="flex items-center p-2 space-x-3 rounded-md"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 512 512"
							class="w-5 h-5 fill-current text-gray-400"
						>
							<path
								d="M479.6,399.716l-81.084-81.084-62.368-25.767A175.014,175.014,0,0,0,368,192c0-97.047-78.953-176-176-176S16,94.953,16,192,94.953,368,192,368a175.034,175.034,0,0,0,101.619-32.377l25.7,62.2L400.4,478.911a56,56,0,1,0,79.2-79.195ZM48,192c0-79.4,64.6-144,144-144s144,64.6,144,144S271.4,336,192,336,48,271.4,48,192ZM456.971,456.284a24.028,24.028,0,0,1-33.942,0l-76.572-76.572-23.894-57.835L380.4,345.771l76.573,76.572A24.028,24.028,0,0,1,456.971,456.284Z"
							></path>
						</svg>
						<span>Search</span>
					</a>
				</li>
				<li>
					<a
						rel="noopener noreferrer"
						href="/application"
						class="flex items-center p-2 space-x-3 rounded-md"
					>
            <SVG name="MdOutlineDesktopWindows" />
						<!-- <Icon
							class="w-5 h-5 fill-current text-gray-400"
							name="mdi:desktop-classic"
						/> -->
						<span>Applications</span>
					</a>
				</li>
				<li>
					<a
						rel="noopener noreferrer"
						href="/tools"
						class="flex items-center p-2 space-x-3 rounded-md"
					>
						<Icon
							class="w-5 h-5 fill-current text-gray-400"
							name="mdi:tools"
						/>
						<span>Tools</span>
					</a>
				</li>
				<li>
					<a
						rel="noopener noreferrer"
						href="/asset"
						class="flex items-center p-2 space-x-3 rounded-md"
					>
						<Icon
							name="mdi:chart-line"
							class="w-5 h-5 fill-current text-gray-400"
						/>
						<span>Assets</span>
					</a>
				</li>
				<li>
					<a
						rel="noopener noreferrer"
						href="/project"
						class="flex items-center p-2 space-x-3 rounded-md"
					>
						<Icon
							name="mdi:compass-rose"
							class="w-5 h-5 fill-current text-gray-400"
						/>
						<span>Projects</span>
					</a>
				</li>
			</ul>
      <ul class="pt-4 p-2 space-y-1 text-sm">
        <li>
          <a
            rel="noopener noreferrer"
            href="/account"
            class="flex items-center space-x-3 rounded-md"
          >
            <Icon
              name="mdi:account-circle-outline"
              class="w-5 h-5 fill-current text-gray-400"
            />
            <span>Account</span>
          </a>
        </li>
      </ul>
		</div>

		<!-- <div class="p-2">
			<LaunchApp />
		</div> -->

		<div class="p-2 pt-0 flex flex-row grow justify-between">
			<div class="flex flex-col justify-between">
				<div class="flex flex-row self-center">
					<Socials />
				</div>
				<div class="flex flex-col">
					<span class="flex items-center space-x-1">
						<a
							rel="noopener noreferrer"
							href="/support"
							class="text-xs hover:underline text-gray-400">Contact Us</a
						>
					</span>
					<span class="flex items-center space-x-1">
						<a
							rel="noopener noreferrer"
							href="/legal"
							class="text-xs hover:underline text-gray-400">Legal</a
						>
					</span>
				</div>
			</div>
		</div>
	</div>
</aside>
