---
///				[IMPORT]
import Nav from "@l/theme/nav.astro";
import Footer from "@l/theme/footer.astro"; //  Import Footer -> Foot
---

<body
  class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white"
>
  <Nav />
  <main class="content" id="swup">
    <slot />
  </main>

  <footer
    class="px-4 divide-y divide-gray-400 dark:bg-gray-800 dark:text-gray-100"
  >
    <Footer />
  </footer>
</body>
