---
//*     [IMPORTS]
import KBVE from '@l/KBVE.astro';
import Menu from '@l/Menu.astro';
//*     [DATA]
const { content } = Astro.props;
---

<KBVE title={content.title} description={content.description}>
	<Menu>
		<div class="p-8 space-y-12"></div>
		<slot />
	</Menu>
</KBVE>
