---
import Socials from '@w/Socials.astro';
---

<section class="w-full py-8 relative mt-16 border-t">
	<div class="max-w-screen-xl px-4 mx-auto">
		<ul
			class="flex flex-wrap justify-between max-w-screen-md mx-auto text-xs font-light">
			<li class="my-2">
				<a
					class="text-secondary hover:text-primary duration-200"
					href="/legal/tos/">
					ToS
				</a>
			</li>
			<li class="my-2">
				<a
					class="text-secondary hover:text-primary duration-200"
					href="/legal/privacy/">
					Privacy
				</a>
			</li>
			<li class="my-2">
				<a
					class="text-secondary hover:text-primary duration-200"
					href="/legal/eula/">
					EULA
				</a>
			</li>
			<li class="my-2">
				<a
					class="text-secondary hover:text-primary duration-200"
					href="/legal/disclaimer/">
					Disclaimer
				</a>
			</li>
		</ul>
	</div>
</section>
