---
//*     [IMPORTS]
import KBVE from '@l/KBVE.astro';
import Menu from '@l/Menu.astro';
//*     [DATA]
const { title, description } = Astro.props;

---

<KBVE title={title} description={description}>
	<Menu>
		<div class="p-8 space-y-12"></div>
		<slot />
	</Menu>
</KBVE>
