---
//?             [Badge]     ->      [Discord]
//?             [Data]      ->      Hex: #7289da
const { content } = Astro.props;
//?             [IMPORT]
import Icon from "astro-icon";
---
<button type="button" class="text-white bg-[#7289da] hover:bg-[#7289da]/90 focus:ring-4 focus:outline-none focus:ring-[#7289da]/50 font-medium rounded-lg text-sm px-2.5 py-2.5 text-center inline-flex items-center  justify-center  dark:focus:ring-[#7289da]/55 mr-2 mb-2">
    <Icon name="ion:logo-discord" class="w-6 h-6" />
</button>
