---
//?             [Badge]     ->      [Github]
//?             [Data]      ->      Hex: #333333
const { content } = Astro.props;
//?             [IMPORT]
import Icon from "astro-icon";
---
<button type="button" class="text-white bg-[#333333] hover:bg-[#333333]/90 focus:ring-4 focus:outline-none focus:ring-[#333333]/50 font-medium rounded-lg text-sm px-2.5 py-2.5 text-center inline-flex items-center  justify-center  dark:focus:ring-[#333333]/55 mr-2 mb-2">
    <Icon name="mdi:github" class="w-6 h-6" />
</button>
