---
//?             [Badge]     ->      [Twitch]
//?             [Data]      ->      Hex: #6441a5 
const { content } = Astro.props;
//?             [IMPORT]
import Icon from "astro-icon";
---
<button type="button" class="text-white bg-[#6441a5] hover:bg-[#6441a5]/90 focus:ring-4 focus:outline-none focus:ring-[#6441a5]/50 font-medium rounded-lg text-sm px-2.5 py-2.5 text-center inline-flex items-center justify-center dark:focus:ring-[#6441a5]/55 mr-2 mb-2">
    <Icon name="mdi:twitch" class="w-6 h-6" />
</button>
