---
//?             [Badge]     ->      [Youtube]
//?             [Data]      ->      Hex: #FF0000
const { content } = Astro.props;
//?             [IMPORT]
import Icon from "astro-icon";
---
<button type="button" class="text-white bg-[#FF0000] hover:bg-[#FF0000]/90 focus:ring-4 focus:outline-none focus:ring-[#FF0000]/50 font-medium rounded-lg text-sm px-2.5 py-2.5 text-center inline-flex items-center  justify-center  dark:focus:ring-[#FF0000]/55 mr-2 mb-2">
    <Icon name="ph:youtube-logo-fill" class="w-6 h-6" />
</button>
