---
//*             [@s][Blog]
//?             Collection of all the blog posts that can be fetched via <JSON>
//*             [IMPORT]        ->      [@N]:[Namespace]
import N from "@n/N.astro";
---
<section class="py-6 dark:bg-gray-800">
	<div class="container flex flex-col justify-center p-4 mx-auto">
		<div class="grid grid-cols-1 gap-4 lg:grid-cols-4 sm:grid-cols-2">
			<!-- <img class="object-cover w-full dark:bg-gray-500 aspect-square" src="https://source.unsplash.com/random/300x300/?1">
			<img class="object-cover w-full dark:bg-gray-500 aspect-square" src="https://source.unsplash.com/random/300x300/?2">
			<img class="object-cover w-full dark:bg-gray-500 aspect-square" src="https://source.unsplash.com/random/300x300/?3">
			<img class="object-cover w-full dark:bg-gray-500 aspect-square" src="https://source.unsplash.com/random/300x300/?4"> -->
		</div>
	</div>
</section>