---
//<!--?         [Video]
//<!--TODO      [Video API]
//<!--!         [BROKEN]
//<!--*         [IMPORT]
import N from "@n/N.astro";
import Oracle from "@w/Oracle.astro";
//<!--*         [DATA]
let title = "KBVE Shows! Reviews and recommendations for great tv content!";
let description = "Need something to watch late at night? How about when you are on the treadmill?";
---

<N ns="theme" title={title} description={description}>
  <section class="py-6 sm:py-12">
    <div class="container p-6 mx-auto space-y-8">
      <div class="rounded-full space-y-2 text-center bg-offset p-4">
        <h2 class="text-3xl font-bold">KBVE Videos, Shows and Movies</h2>
        <p class="font-serif text-sm dark:text-gray-400">
          Epic collection of shows, including new or indie works.
        </p>
      </div>
      <Oracle element="video" data="video" />
    </div>
  </section>
  <N ns="ads" template="midbanner" id="ezoic" />
</N>
